<!-- Income or expense item categories selector -->
<select
    *ngIf="state.incomeOrExpenseItemCategories && !allowEditCategories"
    [(ngModel)]="state.selectedIncomeOrExpenseItemCategory"
    class="app-control-component app-accounts-list"
    style="width: 100%"
    (change)="loadIncomeOrExpenseItemsForCategory()"
>
    <option *ngFor="let item of state.incomeOrExpenseItemCategories"
        [ngValue]="item"
        [selected]="item && state.selectedIncomeOrExpenseItemCategory && item.id == state.selectedIncomeOrExpenseItemCategory.id"
    >
        {{ item ? item.name : 'select one' }}
    </option>
</select>


<app-editable-names-list
    *ngIf="state.incomeOrExpenseItemCategories && allowEditCategories"
    [(listItems)]="state.incomeOrExpenseItemCategories"
    [(displayValueCallback)]="getItemName"
    [(newItemCallback)]="newCategory"
    (onSelect)="selectCategory($event)"
    (onAdd)="addCategory($event)"
    (onDelete)="deleteCategory($event)"
    (onEditBegin)="beginEditCategory($event)"
    (onEditEnd)="endEditCategory($event)"
    style="float: left; width: 200px;"
></app-editable-names-list>

<app-editable-names-list
    *ngIf="state.selectedIncomeOrExpenseItemCategory && incomeOrExpenseItems"
    [(listItems)]="incomeOrExpenseItems"
    [(displayValueCallback)]="getItemName"
    [(newItemCallback)]="newItem"
    (onSelect)="selectItem($event)"
    (onAdd)="addItem($event)"
    (onDelete)="deleteItem($event)"
    (onEditBegin)="beginEditItem($event)"
    (onEditEnd)="endEditItem($event)"
></app-editable-names-list>