.panel-content {
    overflow-y: auto;
    scrollbar-width: thin;
}

.panel-parent {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
}
