
<!-- Income or Expense Items and Categories lists -->
<div class="generic-panel income-or-expense-items-editor-full">
    <div class="generic-panel-title">Income or Expense Items Editor</div>
    <app-income-or-expense-items-manager [allowEditCategories]="true">
    </app-income-or-expense-items-manager>
</div>

<div style="height: 5px;"></div>

<table class="income-or-expense-items-editor-full"><tr>
    <td>
        <!-- Banks list -->
        <div class="generic-panel income-or-expense-items-editor-full" style="height: 280px;">
            <div class="generic-panel-title">Banks Editor</div>
            <app-banks-list></app-banks-list>
        </div>
    </td>
    <td style="width: 5px"></td>
    <td>
        <!-- Accounts list -->
        <div class="generic-panel income-or-expense-items-editor-full" style="height: 280px;">
            <div class="generic-panel-title">Accounts Editor</div>
            <app-accounts-manager></app-accounts-manager>
        </div>
    </td>
    <td style="width: 5px"></td>
    <td>
        <div class="generic-panel income-or-expense-items-editor-full" style="height: 280px;">
            <div class="generic-panel-title">Monitored Currencies</div>
            <app-currencies-manager></app-currencies-manager>
        </div>
    </td>
</tr></table>

