
/* Variables */
:root {
  /* Main container geometry */
  --border-margin-horizontal: 3px;
  --border-margin-vertical: 3px;
  --paper-margin-horizontal: 15px;
  --paper-margin-vertical: 15px;
  --paper-padding: 10px;
  --section-title-height: 30px;

  /* Common skin colors */
  --general-foreground-color: #AAA;
  --general-foreground-color-bright: #FFF;
  --general-component-foreground-color: #AAA;
  --general-component-foreground-color-selected: #FFF;
  --general-component-background-color: #111;
  --general-component-background-color-selected: #333;
  --general-component-border-color: #333;
  --general-component-border-color-selected: #888;
  --general-component-icon-color: #BBB;

  /* Sliding menu colors */
  --sliding-menu-main-tint : #444;
  --sliding-menu-secondary-tint : rgba(47,51,57,1);
  --sliding-menu-bright-tint: rgba(113,123,136,1);

  /* Generic panel attributes */
  --generic-panel-border-color: #444;
  --generic-panel-background-color: #282828;
  --generic-panel-foreground-color: #888;
  --generic-panel-font-size: 12px;
  --generic-panel-title-font-size: 13px;
  --generic-panel-padding: 5px;
  --generic-panel-height: 20px;

  /* Common fonts */
  --general-component-font-size: 12px;
  --general-component-font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

  /* Account records input form */
  --account-records-input-form-height: 65px;
  --account-records-separator-height: 5px;

  /* Button colors */
  --green-button-background-color: #151;
  --green-button-background-color-hover: #372;
  --blue-button-background-color: #115;
  --blue-button-background-color-hover: #247;
  --red-button-background-color: #511;
  --red-button-background-color-hover: #742;
  --yellow-button-background-color: #771;
  --yellow-button-background-color-hover: #993;

  /* List attributes */
  --generic-list-font-size: 11px;
  --generic-list-font-color: #ccc;
  --generic-list-item-background-color-hover: #222;
  --generic-list-background-color: #000;
  --generic-list-record-hover-background-color: #222;
  --generic-list-record-selected-background-color: #252525;
  --generic-list-header-cell-background-color: #333;
  --generic-list-header-cell-border-color: #121;

  /* Scrollbar */
  scrollbar-color: dark !important;
  scrollbar-track-color: #000 !important;
  scrollbar-width: thin !important;

  /* Checkbox */
  --checkbox-component-border-color: #AAA;
}

/* ================================================================================ */








/* Main containers */

body {
  background-color: #000 !important;
  color: var(--general-foreground-color);
  padding: 0px;
  margin: 0px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.border {
    position: absolute;
    left: var(--border-margin-horizontal);
    top: var(--border-margin-vertical);
    width: calc(100vw - (var(--border-margin-horizontal) * 2));
    height: calc(100vh - (var(--border-margin-vertical) * 2));

    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 37%, rgba(57,57,57,0.8) 82%, rgba(123,123,136,0.2) 100%);
}

.paper {
    position: absolute;
    left: var(--paper-margin-horizontal);
    top: calc(var(--paper-margin-vertical) + var(--section-title-height));
    width: calc( 100vw - (var(--border-margin-horizontal) * 2) - (var(--paper-margin-horizontal) * 2) - (var(--paper-padding) * 2) );
    min-height: calc(100vh - (var(--border-margin-vertical) * 2) - (var(--paper-margin-vertical) * 2) - (var(--paper-padding) * 2) - var(--section-title-height));
    padding: var(--paper-padding);

    background-color: #222;

    border-style: solid;
    border-width: 1px;
    border-color: #333 !important;
}

.section-title {
    border-style: none;
    height: var(--section-title-height);
    font-size: 28px;
    margin-left: var(--paper-margin-horizontal);
    margin-top: calc(var(--paper-margin-vertical) / 2);
    font-family: "Arial Black", Gadget, sans-serif;
}

/* ================================================================================ */




/* Controls */

.app-control-component {
  /* General attributes */
  background-color: var(--general-component-background-color);
  color: var(--general-component-foreground-color);

  /* Border and padding attributes */
  border-style: solid;
  border-width: 1px;
  border-color: var(--general-component-border-color);
  padding:3px;

  /* Font attributes */
  font-size: var(--general-component-font-size) !important;
  font-family: var(--general-component-font-family);
}

.app-button {
    width: 200px;
    height: 20px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}

.app-button:hover {
    color: var(--general-foreground-color-bright);
}

.app-accounts-list {
  /* Remove selection arrow button */
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;

  /* Button style */
  background-image: url("/assets/skins/dark-times/res/select/button_off.png");
  background-repeat: no-repeat;
  background-position: top right;

  /* Dimensions */
  min-width: 180px;
}

.app-accounts-list:hover {
  background-image: url("/assets/skins/dark-times/res/select/button_on.png");
  border-color: var(--general-component-border-color-selected);
}


.app-currencies-list {
  /* Remove selection arrow button */
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;

  /* Button style */
  background-image: url("/assets/skins/dark-times/res/select/button_off.png");
  background-repeat: no-repeat;
  background-position: top right;

  /* Dimensions */
  min-width: 300px;
}

.app-currencies-list:hover {
  background-image: url("/assets/skins/dark-times/res/select/button_on.png");
  border-color: var(--general-component-border-color-selected);
}


/* ================================================================================ */





/* Panels */

.generic-panel {
  display: inline-block;

  color: var(--generic-panel-foreground-color);
  background-color: var(--generic-panel-background-color);
  border-color: var(--generic-panel-border-color);

  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);

  font-size: var(--generic-panel-font-size);

  padding: var(--generic-panel-padding);
}

.generic-panel-title {
  font-size: var(--generic-panel-title-font-size);
  font-weight: bold;
  height: var(--generic-panel-height);
}

/* ================================================================================ */





/* Lists and tables */

.records-list-body {
  width:100%;
  background-color: var(--generic-list-background-color);
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-color: dark;
  scrollbar-track-color: #000;
  scrollbar-width: 1px;
}

.records-list-record {
  background-color: var(--general-component-background-color);
  border-bottom: solid 1px var(--generic-list-background-color);
  height: 20px;
}

.records-list-record:hover {
  background-color:var(--generic-list-record-hover-background-color);
  cursor: pointer;
}

.records-list-body-cell {
  border-style: solid;
  border-width: 1px;
  border-color: var(--generic-list-header-cell-border-color);
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  height:100%;
}

.records-list-record-selected {
  background-color:var(--generic-list-record-selected-background-color);
  cursor: pointer;
}

.records-list-header {
  color: var(--general-component-foreground-color);
  background-color: var(--general-component-background-color);
  height: 20px;
}

.records-list-heder-cell {
  color: var(--generic-list-font-color);
  background-color: var(--generic-list-header-cell-background-color);
  border-style: solid;
  border-width: 1px;
  border-color: var(--generic-list-header-cell-border-color);
  float: left;
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  text-align: center;
  vertical-align: middle;
}

/* ================================================================================ */





/* Accounts page */

:root {
  --accounts-summary-panel-width: 300px;
  --accounts-top-bar-height: 40px;
  --accounts-panels-spacer-width: 10px;
}

.accounts-top-bar {
    height:var(--accounts-top-bar-height);
}

.accounts-top-bar > div {
  display: inline;
}

.account-summary-panel {
  width: calc(var(--accounts-summary-panel-width) - (var(--generic-panel-padding) * 2));
  height: calc(100% - var(--accounts-top-bar-height) - (var(--generic-panel-padding) * 2));
}

#account-panels-spacer {
  width: var(--accounts-panels-spacer-width);
}

.account-records-panel {
  width: calc(100% - var(--accounts-summary-panel-width) - var(--accounts-panels-spacer-width) - (var(--generic-panel-padding) * 2));
  height: calc(100% - var(--accounts-top-bar-height) - (var(--generic-panel-padding) * 2));
}

.acount-records-list {
  height:calc(100% - var(--generic-panel-height) - var(--account-records-input-form-height) - var(--account-records-separator-height));
}

.acount-records-list-record {
  width:100%;
  height:20px;
}

.account-record-cell {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  height: calc(100% - 3px);
}

.account-record-delete-button {
  width: 15px;
  border-right: solid 1px #000;
  background-image: url("/assets/skins/dark-times/res/delete/delete-off.png");
  background-repeat: no-repeat;
}

.account-record-delete-button:hover {
  background-image: url("/assets/skins/dark-times/res/delete/delete-on.png");
}

.account-record-list-record-date {
  width: 90px;
  background-color: rgba(50,50,50,0.3);
}

.account-record-list-record-income-or-expense-item {
  border-left: solid 1px #000;
  border-right: solid 1px #000;
  width: calc(100% - 10px - 15px - 100px - 90px - 50px - 80px);
  float: left;
}

.account-record-list-record-value {
  width: 100px;
  text-align: right;
  background-color: rgba(50,50,50,0.3);
}

.account-record-list-record-value-red {
  background-color: rgba(90,30,30,0.3);
}

.account-record-list-record-value-green {
  background-color: rgba(30,90,30,0.3);
}

.account-record-list-record-exchange-rate {
  width: 80px;
  text-align: right;
  background-color: rgba(50,50,50,0.3);
}

.account-record-list-record-exchange-rate-bad {
  background-color: #700;
}

.account-record-list-record-exchange-rate-good {
  background-color: #570;
}

.account-records-separator {
  height: var(--account-records-separator-height);
}

.account-records-input-form {
  width: 100%;
  height: var(--account-records-input-form-height);
  background-color: #000;
  padding-top: 5px;
}

.account-record-input {
  height: 15px;
  width: calc(100% - 10px);
}

.account-records-input-group {
  float: left;
  padding-left: 5px;
}

.account-record-input-group-date {
  width: 135px;
}

.account-record-input-date {
  width: 75px !important;
}

.account-record-input-group-cat {
  width: calc(100% - 135px - 100px - 50px - 100px);
}

.account-record-input-group-value {
  width: 50px;
}

.account-record-input-group-exchange-rate {
  width: 100px;
}

.account-record-input-cat {
  height: 22px !important;
  padding-top: 0px !important;
}

.account-record-input-component {
  float: left;
  width: calc(100% - 40px);
}

.input-form-categories-edit-button {
  width:16px;
  height:16px;
  background-image: url("/assets/skins/dark-times/res/list/list-off.png");
  float: left;
}

.input-form-categories-edit-button:hover{
  background-image: url("/assets/skins/dark-times/res/list/list-on.png");
}

.app-button-new-account {
  background-color: var(--green-button-background-color);
}

.app-button-new-account:hover {
  background-color: var(--green-button-background-color-hover);
}

/* ================================================================================ */





/* Deposits page (based on the Accounts page) */
.deposit-records-panel {
  width: calc(100% - var(--accounts-summary-panel-width) - var(--accounts-panels-spacer-width) - (var(--generic-panel-padding) * 2));
  height: calc(100% - (var(--generic-panel-padding) * 2));
}

.deposits-summary-panel {
  width: calc(var(--accounts-summary-panel-width) - (var(--generic-panel-padding) * 2));
  height: calc(100% - (var(--generic-panel-padding) * 2));
}

.dposits-source-account-column {
  width: 150px;
}

.deposits-bank-column {
  width: 120px;
}

.deposits-account-number-column {
  width: 170px;
}

.deposits-start-date-column {
  width: 75px;
}

.deposits-end-date-column {
  width: 75px;
}

.deposits-value-column {
  text-align: right;
  width: 70px;
}

.deposits-interest-percent-column {
  text-align: right;
  width: 60px;
}

.deposits-interest-value-column {
  text-align: right;
  width: 60px;
}

.deposits-progress-column {
  width: calc(100% - 150px - 170px - 120px - 75px - 75px - 70px - 60px - 50px - 125px);
}


/* ================================================================================ */






/* Dashboard page */

.dashboard-expenses-report-controls {
    border-style: solid;
    border-width: 1px;
    border-color: var(--general-component-border-color);
}

.dashboard-expenses-report-chart {
    border-style: solid;
    border-width: 1px;
    border-color: var(--general-component-border-color);
}

/* ================================================================================ */






/* Sliding menu */

#sliding-menu {
  min-width: 400px;
}

.sliding-menu-icons-container {
  background-color: var(--sliding-menu-main-tint);
  background: linear-gradient(0deg, var(--sliding-menu-main-tint) 37%, var(--sliding-menu-secondary-tint) 97%, var(--sliding-menu-bright-tint) 100%);
  border-bottom-right-radius: 10px;

  -webkit-box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.75);
}

.sliding-menu-pulldown-button {
  background-color: var(--sliding-menu-main-tint);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

  -webkit-box-shadow: 10px 19px 12px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 19px 12px -6px rgba(0,0,0,0.75);
  box-shadow: 10px 19px 12px -6px rgba(0,0,0,0.75);
}

.sliding-menu-nav-icon {
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  border-color: var(--general-component-border-color);
  cursor: pointer;
  float: left;
  margin-right: 3px;
}

.sliding-menu-nav-icon:hover {
  border-color: var(--general-component-border-color-selected);
}

.app-section-main-icon {
  background-image: url("/assets/skins/dark-times/res/sliding-menu/main-off.png");
}

.app-section-main-icon:hover {
  background-image: url("/assets/skins/dark-times/res/sliding-menu/main-on.png");
}

.app-section-dashboard-icon {
  background-image: url("/assets/skins/dark-times/res/sliding-menu/dashboard-off.png");
}

.app-section-dashboard-icon:hover {
  background-image: url("/assets/skins/dark-times/res/sliding-menu/dashboard-on.png");
}

.app-section-accounts-icon {
  background-image: url("/assets/skins/dark-times/res/sliding-menu/accounts-off.png");
}

.app-section-accounts-icon:hover {
  background-image: url("/assets/skins/dark-times/res/sliding-menu/accounts-on.png");
}

.app-section-deposits-icon {
  background-image: url("/assets/skins/dark-times/res/sliding-menu/deposits-off.png");
}

.app-section-deposits-icon:hover {
  background-image: url("/assets/skins/dark-times/res/sliding-menu/deposits-on.png");
}

.app-section-exchange-rates-icon {
  background-image: url("/assets/skins/dark-times/res/sliding-menu/exchange-rates-off.png");
}

.app-section-exchange-rates-icon:hover {
  background-image: url("/assets/skins/dark-times/res/sliding-menu/exchange-rates-on.png");
}

.nav-back-icon {
  background-image: url("/assets/skins/dark-times/res/sliding-menu/back-off.png");
}

.nav-back-icon:hover {
  background-image: url("/assets/skins/dark-times/res/sliding-menu/back-on.png");
}

/* ================================================================================ */





/* Dialogues */
.dialog-background {
  width: 100%;
  height: 100%;
  background-color: var(--general-component-background-color);
  color: var(--general-component-foreground-color);
}

.dialogue-button {
  width: 100px;
}

.dialogue-button:hover {
    background-color: var(--general-component-background-color-selected);
    border-color: var(--general-component-border-color-selected);
}

/* ================================================================================ */




/* Angular Materials style overrides */

.mat-datepicker-toggle-default-icon {
  font-size: var(--general-component-font-size);
  color: var(--general-component-icon-color);
}

.mat-calendar {
  background-color: var(--general-component-background-color);
  color: var(--general-component-foreground-color);
}

.mat-calendar-body-cell-content {
  background-color: var(--general-component-background-color);
  color: var(--general-component-foreground-color) !important;
}

.mat-calendar-body-label,
.mat-icon-button,
.mat-calendar-table-header {
  color: var(--general-foreground-color-bright) !important;
}

.mat-icon-button {
  line-height: 10px !important;
  height: 10px !important;
  font-size: 13px !important;
}

.mat-dialog-container {
  background-color: var(--general-component-background-color) !important;
}

.mat-checkbox-frame {
  border-color: var(--checkbox-component-border-color) !important;
}

/* ================================================================================ */




/* Editable names list */

.editable-names-list {
  color: var(--general-component-foreground-color);
  background-color: var(--general-component-background-color);

  border-style: solid;
  border-width: 1px;
  border-color: var(--general-component-border-color);

  height: 200px;
  min-width: 130px;
}

.editable-names-list-element {
  font-size: var(--generic-list-font-size);
  color: var(--generic-list-font-size);

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.editable-names-list-element:hover {
  background-color: var(--generic-list-item-background-color-hover);
  cursor: pointer;
}

.editable-names-list-element-selected {
  background-color: var(--general-component-background-color-selected);
  color: var(--general-component-foreground-color-selected);
}

.editable-names-list-button {
  width: 30px;
  height: 17px;
  font-size: var(--general-component-font-size);
  color: var(--general-component-foreground-color);
  float: left;

  border-style: solid;
  border-width: 1px;
  border-color: var(--general-component-border-color);

  cursor: pointer;

  padding: 3px;

  text-align: center;
  vertical-align: middle;

  margin-right: 10px;
}

.editable-names-list-control-panel {
  padding-top: 5px;
}

.editable-names-list-button-add {
  background-color: var(--green-button-background-color);
}

.editable-names-list-button-add:hover {
  background-color: var(--green-button-background-color-hover);
}

.editable-names-list-button-edit {
  background-color: var(--blue-button-background-color);
}

.editable-names-list-button-edit:hover {
  background-color: var(--blue-button-background-color-hover);
}

.editable-names-list-button-del {
  background-color: var(--red-button-background-color);
}

.editable-names-list-button-del:hover {
  background-color: var(--red-button-background-color-hover);
}

.editable-names-list-button-collect {
  width: 50px;
  background-color: var(--yellow-button-background-color);
}
.editable-names-list-button-collect:hover {
  background-color: var(--yellow-button-background-color-hover);
}

.editable-names-list-name-input {
  height: 15px;
  width: 100%;
}

/* ================================================================================ */





/* Lists editor */

.income-or-expense-items-editor-full {
  width: calc(100% - var(--paper-padding));
}

/* ================================================================================ */






/* Progress bar */

.progress-bar-sheet {
  width: 100%;

  border-style: solid;
  border-width: 1px;
  border-color: var(--generic-panel-border-color);

  color: var(--generic-panel-foreground-color);
  background-color: var(--generic-panel-background-color);
}

.progress-bar-border {
  width: calc(100% - 70px);

  border-style: solid;
  border-width: 1px;
  border-color: var(--general-component-border-color);
  background-color: var(--generic-list-background-color);
}

.progress-bar-full {
  background-color: #349;
  height: 15px;
  float: left;
}

.progress-bar-value {
  float: left;
  width: 60px;
  text-align: right;
}

/* ================================================================================ */



/* Google Charts style overrides */

.google-visualization-tooltip,
div.google-visualization-tooltip,
div.google-visualization-tooltip > ul,
div.google-visualization-tooltip > ul > li,
div.google-visualization-tooltip > ul > li > span {
  color: #CCC !important;
  background-color: #000 !important;
  border-color: var(--general-component-border-color);
}
