<div *ngIf="state.allExchangeRatesHistoryLoaded">

<div
    *ngFor="let crName of getCurrencies()"
    style="float: left; padding-right: 15px; padding-bottom: 15px;"
>
    <div *ngIf="crName">
        <app-monthly-savings-report
            [chartType]="'LineChart'"
            [width]="570"
            [height]="220"
            [hideDates]="true"
            [sourceDate]="getChartData(crName)"
            [sourceDataXValueMapper]="sourceXValueMapper"
            [sourceDataYValueMapper]="sourceYValueMapper"
            [chartColumnNames]="['Date', crName + ' Exchange Rate']"
        ></app-monthly-savings-report>
    </div>

</div>

</div>