<table style="width:calc(100% - 30px); height:100%"><tr>
    <td style="width:30%;">
        <!-- The income or expense item categories manager -->
        <div style="width:100%; text-align:center; margin-top:15px; padding-bottom:10px;">
            Income or Expense Item Categories
        </div>
        <app-items-manager
            width="100%"
            height="calc(100% - 20px)"
            cardWidth="calc(100% - 30px)"
            cardHeight="60px"
            addDialogWidth="400px"
            addDialogHeight="450px"
            [dataSetProducer]="this.incomeOrExpenseItemCategoriesListProducer"
            [cardImageRefExtractor]="this.incomeOrExpenseItemCategoryCardImageRefExtractor"
            [cardTitleExtractor]="this.incomeOrExpenseItemCategoryCardTitleExtractor"
            [cardTextExtractor]="this.incomeOrExpenseItemCategoryCardTextExtractor"
            [itemDeletionConsumer]="this.incomeOrExpenseItemCategoryDeletionConsumer"
            [newItemSupplier]="this.newIncomeOrExpenseItemCategorySupplier"
            [itemSavingConsumer]="this.incomeOrExpenseItemCategorySavingConsumer"
            [itemPropertiesValidator]="this.incomeOrExpenseItemCategoryValidator"
            [(selection)]="this.incomeOrExpenseItemCategoriesListSelectedItem"
            (onSelectionChanged)="this.incomeOrExpenseItemCategoriesListSelectionChanged()"
        >
            <ng-template itemsManagerNewItemForm let-item="item">
                <table style="width:100%">
                    <tr>
                        <td>
                            Name
                        </td>
                        <td style="width:10px"></td>
                        <td>
                            <app-input
                                [(value)]="item.incomeOrExpenseItemCategoryName"
                                width="300px"
                                height="30px"
                                hint="Input category name"
                            ></app-input>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Description
                        </td>
                        <td></td>
                        <td>
                            <app-input
                                [(value)]="item.incomeOrExpenseItemCategoryDescription"
                                width="300px"
                                height="30px"
                                hint="Input category description"
                            ></app-input>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Icon
                        </td>
                        <td></td>
                        <td>
                            <app-button
                                value='Choose icon'
                                textAlign="center"
                                (onClick)="onChooseCategoryIconClick()"
                                color="blue"
                                width="300px"
                                height="30px"
                            ></app-button>
                            <img
                                style="width:300px;height:250px;background-color:#000;background-size:contain;"
                                [src]="item.imageData"
                            >
                        </td>
                    </tr>
                </table>
            </ng-template>
        </app-items-manager>
    </td>
    <td style="width:5%"></td>
    <td style="width:30%">
        <!-- The income or expense item subcategories manager -->
         <div style="width:100%; text-align:center; margin-top:15px; padding-bottom:10px;">
            Income or Expense Item Sub-categories
        </div>
        <app-items-manager
            width="100%"
            height="calc(100% - 20px)"
            cardWidth="calc(100% - 30px)"
            cardHeight="60px"
            addDialogWidth="400px"
            addDialogHeight="450px"
            [forceReloadEventEmitter]="this.subcategoriesListForceReloadEventEmitter"
            [dataSetProducer]="this.incomeOrExpenseItemSubcategoriesListProducer"
            [cardImageRefExtractor]="this.incomeOrExpenseItemSubcategoryCardImageRefExtractor"
            [cardTitleExtractor]="this.incomeOrExpenseItemSubcategoryCardTitleExtractor"
            [cardTextExtractor]="this.incomeOrExpenseItemSubcategoryCardTextExtractor"
            [itemDeletionConsumer]="this.incomeOrExpenseItemSubcategoryDeletionConsumer"
            [newItemSupplier]="this.newIncomeOrExpenseItemSubcategorySupplier"
            [itemSavingConsumer]="this.incomeOrExpenseItemSubcategorySavingConsumer"
            [itemPropertiesValidator]="this.incomeOrExpenseItemSubcategoryValidator"
            [(selection)]="this.incomeOrExpenseItemSubcategoriesListSelectedItem"
            [childrenAction]="this.subcategoryCardChildrenAction"
            [actionButtonIcons]="true"
            [actionButtonText]="true"
        >
            <ng-template itemsManagerNewItemForm let-item="item">
                <table style="width:100%">
                    <tr>
                        <td>
                            Name
                        </td>
                        <td style="width:10px"></td>
                        <td>
                            <app-input
                                [(value)]="item.incomeOrExpenseItemSubcategoryName"
                                width="300px"
                                height="30px"
                                hint="Input sub-category name"
                            ></app-input>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Description
                        </td>
                        <td></td>
                        <td>
                            <app-input
                                [(value)]="item.incomeOrExpenseItemSubcategoryDescription"
                                width="300px"
                                height="30px"
                                hint="Input sub-category description"
                            ></app-input>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Icon
                        </td>
                        <td></td>
                        <td>
                            <app-button
                                value='Choose icon'
                                textAlign="center"
                                (onClick)="onChooseSubcategoryIconClick()"
                                color="blue"
                                width="300px"
                                height="30px"
                            ></app-button>
                            <img
                                style="width:300px;height:250px;background-color:#000;background-size:contain;"
                                [src]="item.imageData"
                            >
                        </td>
                    </tr>
                </table>
            </ng-template>
        </app-items-manager>
    </td>
</tr></table>

<!-- The income or expense item category icon chooser -->
<app-dialog
  title="Select an existing icon or add a new one"
  width="700px"
  height="500px"
  [visible]="this.categoryIconsManagerVisible"
>
    <app-icons-manager
        width="100%"
        height="450px"
        iconWidth="190px"
        iconHeight="190px"
        [allowUpload]="true"
        [allowDelete]="false"
        [pageSize]="9"
        (selectionChange)="this.onCategoryIconSelected($event)"
    ></app-icons-manager>
</app-dialog>

<!-- The income or expense item sub-category icon chooser -->
<app-dialog
  title="Select an existing icon or add a new one"
  width="700px"
  height="500px"
  [visible]="this.subcategoryIconsManagerVisible"
>
    <app-icons-manager
        width="100%"
        height="450px"
        iconWidth="190px"
        iconHeight="190px"
        [allowUpload]="true"
        [allowDelete]="false"
        [pageSize]="9"
        (selectionChange)="this.onSubcategoryIconSelected($event)"
    ></app-icons-manager>
</app-dialog>

<!-- The income or expense items manager -->
<app-dialog
  title="Income or Expense Items"
  width="500px"
  height="500px"
  [(visible)]="this.itemsManagerVisible"
  [closeButton]="true"
>
    <app-items-manager
        width="calc(100% - 15px)"
        height="calc(100% - 20px)"
        cardWidth="calc(100% - 25px)"
        cardHeight="60px"
        addDialogWidth="400px"
        addDialogHeight="450px"
        [forceReloadEventEmitter]="this.itemsListForceReloadEventEmitter"
        [dataSetProducer]="this.incomeOrExpenseItemsListProducer"
        [cardImageRefExtractor]="this.incomeOrExpenseItemCardImageRefExtractor"
        [cardTitleExtractor]="this.incomeOrExpenseItemCardTitleExtractor"
        [cardTextExtractor]="this.incomeOrExpenseItemCardTextExtractor"
        [itemDeletionConsumer]="this.incomeOrExpenseItemDeletionConsumer"
        [newItemSupplier]="this.newIncomeOrExpenseItemSupplier"
        [itemSavingConsumer]="this.incomeOrExpenseItemSavingConsumer"
        [itemPropertiesValidator]="this.incomeOrExpenseItemValidator"
        [(selection)]="this.incomeOrExpenseItemsListSelectedItem"
    >
        <ng-template itemsManagerNewItemForm let-item="item">
            <table style="width:100%">
                <tr>
                    <td>
                        Name
                    </td>
                    <td style="width:10px"></td>
                    <td>
                        <app-input
                            [(value)]="item.incomeOrExpenseItemName"
                            width="300px"
                            height="30px"
                            hint="Input item name"
                        ></app-input>
                    </td>
                </tr>
                <tr>
                    <td>
                        Description
                    </td>
                    <td></td>
                    <td>
                        <app-input
                            [(value)]="item.incomeOrExpenseItemDescription"
                            width="300px"
                            height="30px"
                            hint="Input item description"
                        ></app-input>
                    </td>
                </tr>
                <tr>
                    <td>
                        Icon
                    </td>
                    <td></td>
                    <td>
                        <app-button
                            value='Choose icon'
                            textAlign="center"
                            (onClick)="onChooseItemIconClick()"
                            color="blue"
                            width="300px"
                            height="30px"
                        ></app-button>
                        <img
                            style="width:300px;height:250px;background-color:#000;background-size:contain;"
                            [src]="item.imageData"
                        >
                    </td>
                </tr>
            </table>
        </ng-template>
    </app-items-manager>
</app-dialog>

<!-- The income or expense item icon chooser -->
<app-dialog
  title="Select an existing icon or add a new one"
  width="700px"
  height="500px"
  [visible]="this.itemIconsManagerVisible"
>
    <app-icons-manager
        width="100%"
        height="450px"
        iconWidth="190px"
        iconHeight="190px"
        [allowUpload]="true"
        [allowDelete]="false"
        [pageSize]="9"
        (selectionChange)="this.onItemIconSelected($event)"
    ></app-icons-manager>
</app-dialog>