.select-control {
    position: relative;
}

.select-list {
    position: fixed;
    z-index: 2147483647
}

.select-button {
    position: absolute;
    right:0px;
    top: 0px;
    padding: 5px;
    margin-top: 4px;
    margin-right: 3px;
    text-align: center;
}