.select-control {
    position: relative;
}

.select-list {
    position: fixed;
}

.select-button {
    position: absolute;
    right:0px;
    top: 0px;
    padding: 5px;
    margin-top: 4px;
    margin-right: 5px;
    text-align: center;
}