<div
    id="{{ this.wrappingDivId }}"
    class="select-control"
    [style.width]="'calc(' + this.getWidth() + ' + ' + this.getHeight() + ' + 5px)'"
>
    <app-card
        class="select-box"
        [width]="this.getWidth()"
        [height]="this.getHeight()"
        [imageRef]="this.getSelectedOptionImageRef()"
        [imagePosition]="this.getCardImagePosition()"
        [imageWidth]="this.getHeight()"
        [imageHeight]="this.getHeight()"
        title=""
        [text]="this.getSelectedOptionTitle()"
        [clickable]="true"
        (onClick)="onSelectButtonClicked()"
    ></app-card>

    @if ( this.isEnabled() ) {
        <div
            id="{{ this.id }}_select_button"
            class="form-control clickable select-button"
            [style.width]="this.getHeight()"
            [style.height]="this.getHeight()"
            [style.lineHeight]="this.getHeight()"
            (click)="onSelectButtonClicked()"
        >
            &#x2B9F;
        </div>
    }
</div>

<div
    id="{{ this.selectOptionsListId }}"
    class="select-list"
    [style.visibility]="this.isListVisible() ? 'visible' : 'hidden'"
    [style.left]="'100px'"
    [style.top]="'100px'"
>
    <app-cards-list
        [width]="this.getWidth()"
        [height]="this.getActualListHeight()"
        [cardWidth]="'calc(calc(' + this.getWidth() + ' - 25px) - ' + (this.hasOverflow() ? '20px' : '0px') + ')'"
        [cardHeight]="this.getCardHeight()"
        [cardImageWidth]="this.getCardImageWidth()"
        [cardImageHeight]="this.getCardImageHeight()"
        cardSpacing="5px"
        [cards]="getOptions()"
        [clickable]="true"
        [selectable]="true"
        (selectionChange)="this.onCardSelected($event)"
    ></app-cards-list>
</div>
