
<div class="border">
    <div class="section-title">
        {{ navigation.currentSection.name }}
    </div>

    <div class="paper">
        <!-- Sections defined in the NavigationService -->
        <app-section-main             *ngIf="navigation.currentSection.id == navigation.APP_SECTION_MAIN"          ></app-section-main>
        <app-section-dashboard        *ngIf="navigation.currentSection.id == navigation.APP_SECTION_DASHBOARD"     ></app-section-dashboard>
        <app-section-accounts         *ngIf="navigation.currentSection.id == navigation.APP_SECTION_ACCOUNTS"      ></app-section-accounts>
        <app-section-deposits         *ngIf="navigation.currentSection.id == navigation.APP_SECTION_DEPOSITS"      ></app-section-deposits>
        <app-section-exchange-rates   *ngIf="navigation.currentSection.id == navigation.APP_SECTION_EXCHANGE_RATES"></app-section-exchange-rates>
    </div>



    <!-- ================================================================================================= -->



    <app-sliding-menu></app-sliding-menu> <!-- Keep this one at the bottom or set the z-index very high up -->
</div>
