.bar.floating-bar.top {
    position: fixed;
    top: 0px;
}

.bar.floating-bar.bottom {
    position: fixed;
    bottom: 0px;
}

.bar.top.autohiding {
    transition: 0.5s;
}

.bar.top.autohiding:hover {
    top: 0px !important;
    transition: 0.5s;
}

.bar.bottom.autohiding {
    transition: 0.5s;
}

.bar.bottom.autohiding:hover {
    bottom: 0px !important;
    transition: 0.5s;
}

.bar.bar-page-spacer {
    padding: 0px;
    margin: 0px;
}