
<div class="editable-names-list-container">
    <div class="editable-names-list" style="overflow-x: hidden; overflow-y: scroll;">
        <div
            *ngFor="let item of listItems"
            class="editable-names-list-element {{ (selectedItem && (selectedItem == item)) ? 'editable-names-list-element-selected' : ' ' }}"
            (click)="selectItem(item)"
        >
            {{ displayValueCallback(item) }}
        </div>
    </div>
    <div class="editable-names-list-control-panel">
        <div
            *ngIf="!selectedItemDisplatValue"
            class="editable-names-list-button editable-names-list-button-add"
            (click)="addButtonClicked()"
        >
            Add
        </div>
        <div
            *ngIf="selectedItem && !selectedItemDisplatValue"
            class="editable-names-list-button editable-names-list-button-edit"
            (click)="editButtonClicked()"
        >
            Edt
        </div>
        <div
            *ngIf="selectedItem && !selectedItemDisplatValue"
            class="editable-names-list-button editable-names-list-button-del"
            (click)="deleteButtonClicked()"
        >
            Del
        </div>

        <input
            *ngIf="selectedItemDisplatValue"
            class="app-control-component editable-names-list-name-input"
            type="text" [(ngModel)]="selectedItemDisplatValue"
            (keyup)="onEditInputKeyUp($event)"
        >
    </div>
</div>