.color-theme-bright {
    --modal-overlay-background-color: rgba(0,0,0,0.85);

    --application-background-color: #EEE;
    --application-text-color: #444;

    --scrollbar-button-color: #AAA;
    --scrollbar-background-color: #E5E5E5;

    --form-control-border-color: #BBB;
    --form-control-border-color-editable-invalid: #F00;
    --form-control-background-color: #CCC;
    --form-control-background-color-alt: #AAA;
    --form-control-background-color-alt-disabled: #BBB;
    --form-control-background-color-hover: #EEE;
    --form-control-background-color-editable: #FFF;
    --form-control-background-color-editable-disabled: #DDD;
    --form-control-text-color-enabled: #333;
    --form-control-text-color-disabled: #777;
    --form-control-text-color-editable: #000;
    --form-control-text-color-editable-hint: #AAA;
    --form-control-text-color-hover: #000;
    --form-control-text-color-status-message: #AAA;

    --card-background-color: #DDD;
    --card-background-color-hover: #CCC;
    --card-background-color-selected: #BBB;
    --card-background-color-selected-hover: #AAA;

    --separator-color: #B5B5B5;
    --title-color: #000;
    --shadow-color: #888;

    --panel-border-color: #CCCCCC;
    --panel-background-color: #E5E5E5;

    --red-background-color: #D55;
    --red-background-color-hover: #F88;
    --red-text-color: #FFF;

    --green-background-color: #4A4;
    --green-background-color-hover: #8F8;
    --green-text-color: #FFF;

    --blue-background-color: #55D;
    --blue-background-color-hover: #77F;
    --blue-text-color: #FFF;

    --flash-background-color: #AAA;
    --flash-text-color: #000;

    --table-odd-row-backgroun-color: RGBA(200, 200, 200, 0.3);
    --table-even-row-backgroun-color: RGBA(170, 170, 170, 0.3);
    --table-body-text-color: #444;

    --green-font-color: #585;
    --red-font-color: #B55;

    --chart-legend-color: #555;
    --chart-grid-color: #DDD;
    --chart-axis-line-color: #333;
    --chart-axis-label-color: #555;

    --chart-series-0-color: #0066cc;
    --chart-series-0-border-color: #003399;

    --chart-series-1-color: #0099ff;
    --chart-series-1-border-color: #0066ff;

    --chart-series-2-color: #ff9900;
    --chart-series-2-border-color: #cc9933;

    --chart-series-3-color: #ffff00;
    --chart-series-3-border-color: #eecc00;

    --chart-series-4-color: #ff0000;
    --chart-series-4-border-color: #dd5555;

    --chart-series-5-color: #EE5566;
    --chart-series-5-border-color: #DD5566;

    --chart-series-6-color: #669900;
    --chart-series-6-border-color: #668833;

    --chart-series-7-color: #99cc00;
    --chart-series-7-border-color: #88bb33;

    --chart-series-8-color: #bbbbbb;
    --chart-series-8-border-color: #aaaaaa;

    --chart-series-9-color: #939393;
    --chart-series-9-border-color: #858585;
}