.color-theme-bright {
    --application-background-color: #EEE;
    --application-text-color: #444;

    --scrollbar-button-color: #AAA;
    --scrollbar-background-color: #E5E5E5;

    --form-control-border-color: #BBB;
    --form-control-border-color-editable-invalid: #F00;
    --form-control-background-color: #CCC;
    --form-control-background-color-alt: #AAA;
    --form-control-background-color-alt-disabled: #BBB;
    --form-control-background-color-hover: #EEE;
    --form-control-background-color-editable: #FFF;
    --form-control-background-color-editable-disabled: #DDD;
    --form-control-text-color-enabled: #333;
    --form-control-text-color-disabled: #777;
    --form-control-text-color-editable: #000;
    --form-control-text-color-editable-hint: #AAA;
    --form-control-text-color-hover: #000;
    --form-control-text-color-status-message: #AAA;

    --card-background-color: #DDD;
    --card-background-color-hover: #CCC;
    --card-background-color-selected: #BBB;
    --card-background-color-selected-hover: #AAA;

    --separator-color: #B5B5B5;
    --title-color: #000;
    --shadow-color: #888;

    --panel-border-color: #CCCCCC;
    --panel-background-color: #E5E5E5;

    --red-background-color: #D55;
    --red-background-color-hover: #F88;
    --red-text-color: #FFF;

    --blue-background-color: #55D;
    --blue-background-color-hover: #77F;
    --blue-text-color: #FFF;

    --flash-background-color: #AAA;
    --flash-text-color: #000;
}