.color-theme-dark {
    --application-background-color: #111;
    --application-text-color: #BBB;

    --form-control-border-color: #555;
    --form-control-border-color-editable-invalid: #F00;
    --form-control-background-color: #333;
    --form-control-background-color-alt: #111;
    --form-control-background-color-alt-disabled: #333;
    --form-control-background-color-hover: #777;
    --form-control-background-color-editable: #000;
    --form-control-background-color-editable-disabled: #222;
    --form-control-text-color-enabled: #DDD;
    --form-control-text-color-disabled: #777;
    --form-control-text-color-editable: #FFF;
    --form-control-text-color-editable-hint: #555;
    --form-control-text-color-hover: #FFF;
    --form-control-text-color-status-message: #555;

    --card-background-color: #252525;
    --card-background-color-hover: #333333;
    --card-background-color-selected: #444444;
    --card-background-color-selected-hover: #555555;

    --separator-color: #454545;
    --title-color: #FFF;
    --shadow-color: #000;

    --panel-border-color: #222222;
    --panel-background-color: #151515;

    --red-background-color: #C00;
    --red-background-color-hover: #F55;
    --red-text-color: #FFF;

    --blue-background-color: #33C;
    --blue-background-color-hover: #55F;
    --blue-text-color: #FFF;

    --flash-background-color: #AAA;
    --flash-text-color: #000;
}