.color-theme-dark {
    --application-background-color: #111;
    --application-text-color: hsl(0, 0%, 93%);

    --form-control-border-color: #555;
    --form-control-border-color-editable-invalid: #F00;
    --form-control-background-color: #333;
    --form-control-background-color-hover: #777;
    --form-control-background-color-editable: #000;
    --form-control-background-color-editable-disabled: #222;
    --form-control-text-color-enabled: #DDD;
    --form-control-text-color-disabled: #777;
    --form-control-text-color-editable: #FFF;
    --form-control-text-color-editable-hint: #555;
    --form-control-text-color-hover: #FFF;

    --red-background-color: #C00;
    --red-background-color-hover: #F55;
    --red-text-color: #FFF;

    --blue-background-color: #33C;
    --blue-background-color-hover: #55F;
    --blue-text-color: #FFF;
}