<div id="{{ this.id }}" class="msgbox">
    <app-dialog
        [visible]="this.isVisible()"
        [title]="this.getTitle()"
        [width]="this.getWidth()"
        [height]="this.getHeight()"
    >
        <div
            class="msgbox-content"
            [style.height]="'calc(' + this.getHeight() + ' - 85px)'"
        >
            {{ this.getText() }}
        </div>

        <!-- Spacer -->
        <div style="height:10px;"></div>

        <div class="msgbox-buttons">
            @if ( this.isOkButton() ) {
                <div class="msgbox-button-container">
                    <app-button
                        value="Ok"
                        textAlign="center"
                        (onClick)="this.onAffirmativeButtonClick()"
                        color="blue"
                        width="40px"
                        height="30px"
                    ></app-button>
                </div>
            }

            @if ( this.isYesButton() ) {
                <div class="msgbox-button-container">
                    <app-button
                        value="Yes"
                        textAlign="center"
                        (onClick)="this.onAffirmativeButtonClick()"
                        color="blue"
                        width="50px"
                        height="30px"
                    ></app-button>
                </div>
            }

            @if ( this.isNoButton() ) {
                <div class="msgbox-button-container">
                    <app-button
                        value="No"
                        textAlign="center"
                        (onClick)="this.onNegativeButtonClick()"
                        color="red"
                        width="40px"
                        height="30px"
                    ></app-button>
                </div>
            }

            @if ( this.isCancelButton() ) {
                <div class="msgbox-button-container">
                    <app-button
                        value="Cancel"
                        textAlign="center"
                        (onClick)="this.onCancelButtonClick()"
                        width="80px"
                        height="30px"
                    ></app-button>
                </div>
            }
        </div>
    </app-dialog>
</div>