.msgbox .msgbox-content {
    text-align: center;
}

.msgbox .msgbox-buttons {
    display: flex;
    bottom: 0px;
    justify-content: center;
    align-items: center;
}

.msgbox .msgbox-button-container {
    margin-left: 5px;
    margin-right: 5px;
}