
@if ( router.url === '/') {



<!-- --- This is the content of the main page ---------------------------------------------- -->
  Main page
<!-- --- End of main page ------------------------------------------------------------------ -->



} @else {

  @if ( router.url !== '/components-showcase' ) {

    <!-- --- This is the layout of everyt other page ------------------------------------------- -->

    <gui-sidebar></gui-sidebar>

    @for (configItem of this.router.config; track configItem) {
      <div>{{ configItem.path }}</div>
    }

    <!-- --- End of every other page ---------------------------------------------------------- -->

  } 

  <router-outlet />

}