<app-color-theme-selector></app-color-theme-selector>
<br /><br />

<app-input
  [enabled]="true"
  [(value)]="inputValue"
  [valid]="true"
  width="300px"
  height="30px"
  hint="Enter a value here"
></app-input>
<br /><br />
{{inputValue}}
<br /><br />

<app-switch
  [(value)]="switchValue"
  width="70px"
  height="30px"
  color="red"
  [enabled]="true"
></app-switch>
{{ this.switchValue ? 'true' : 'false' }}
<br /><br />

<app-button
  value='Button text'
  textAlign="left"
  width="300px"
  height="30px" 
  icon="favicon.ico"
  iconAlign="left"
  [enabled]="true"
  (onClick)="onButtonClick()"
  color="blue"
></app-button>
<br /><br />

@if ( router.url === '/' ) {



<!-- --- This is the content of the main page ---------------------------------------------- -->
  Main page
<!-- --- End of main page ------------------------------------------------------------------ -->



} @else {



<!-- --- This is the layout of everyt other page ------------------------------------------- -->

  <gui-sidebar></gui-sidebar>

  @for (configItem of this.router.config; track configItem) {
    <div>{{ configItem.path }}</div>
  }

  <router-outlet />

<!-- --- End of every other page ---------------------------------------------------------- -->



}