.menu.menu_container {
    margin: 0px;
    padding: 0px;
}

.menu.menu_container.right {
    margin: 0px;
    padding: 0px;
    margin-right: 5px;
}

.menu .menu_content {
    padding-top: 5px;
    transition: 0.2s;
}

.menu .menu_content.folded {
    width: 0% !important;
    transition: 0.5s;.menu .menu_content .item {
    background-color: var(--card-background-color);
}
}

.menu .menu_content .item {
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-top: 1px;
    margin-bottom: 1px;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
}

.menu .menu_content .item_icon {
    margin: 0px;
    padding: 0px;
}

.menu .folding_trigger {
    padding-left: 5px;
    padding-right: 5px;
}

.menu .folding_trigger.left {
    margin-left: 5px;
    margin-right: 20px;
}

.menu .folding_trigger.right {
    margin-left: 20px;
    margin-right: 3px;
}