.modal-overlay {
    position : fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-overlay .modal-overlay-backdrop {
    position : fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
}

.modal-overlay .modal-overlay-content {
    z-index: 0;
}