.calendar {
    width: 270px;
    height: 245px;
    cursor: default;
}

.calendar .monthchooser {
    height: 37px;
    text-align: center;
    vertical-align: middle;
    line-height: 37px;
}

.calendar .monthchooser-table {
    padding-top: 5px;
    width: 270px;
}

.calendar .monthchooser-month-td {
    width: 160px;
    padding-left:5px;
}

.calendar .monthchooser-spacer-td {
    width: 10px;
}

.calendar .monthchooser-year-td {
    width: 80px;
    padding-right:5px;
}

.calendar .daytable td {
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    cursor: pointer;
    width: 30px;
}

.calendar .overflow-day {
    cursor: not-allowed !important;
}

.calendar .day-names-row td {
    cursor: default !important;
}