<div class="records-list-header">
    <div class="records-list-heder-cell dposits-source-account-column">Source account</div>
    <div class="records-list-heder-cell deposits-bank-column">Bank</div>
    <div class="records-list-heder-cell deposits-account-number-column">Account number</div>
    <div class="records-list-heder-cell deposits-start-date-column">Start date</div>
    <div class="records-list-heder-cell deposits-end-date-column">End date</div>
    <div class="records-list-heder-cell deposits-value-column">Value</div>
    <div class="records-list-heder-cell deposits-interest-percent-column">Interest %</div>
    <div class="records-list-heder-cell deposits-interest-value-column">Interest</div>
    <div class="records-list-heder-cell deposits-progress-column">Progress</div>
</div>
<div
    class="records-list-body acount-records-list"
    *ngIf="state.accounts && state.banks && state.deposits && state.deposits != []"
>
    <div
      *ngFor="let rec of state.deposits"
      class="records-list-record {{ (state.selectedDeposit && state.selectedDeposit.id == rec.id) ? 'records-list-record-selected' : ' ' }}"
      (click)="state.selectDeposit(rec)"
    >
        <div class="records-list-body-cell dposits-source-account-column">{{ getSourceAccountName(rec) }}</div>
        <div class="records-list-body-cell deposits-bank-column">{{ getBankName(rec) }}</div>
        <div class="records-list-body-cell deposits-account-number-column">{{ rec.accountNumber }}</div>
        <div class="records-list-body-cell deposits-start-date-column">{{ rec.startDate | date:"yyyy-MM-dd" }}</div>
        <div class="records-list-body-cell deposits-end-date-column">{{ rec.endDate | date:"yyyy-MM-dd" }}</div>
        <div class="records-list-body-cell deposits-value-column">{{ rec.value | currency:'USD':'':'2.2-2' }}</div>
        <div class="records-list-body-cell deposits-interest-percent-column">{{ rec.interestPercent | currency:'USD':'':'2.2-2' }}%</div>
        <div class="records-list-body-cell deposits-interest-value-column">{{ (rec.value * rec.interestPercent / 100) | currency:'USD':'':'2.2-2' }}</div>

        <div class="records-list-body-cell deposits-progress-column">
            <app-progress-bar [valueFromZeroToOneHundred]="computeProgress(rec)"></app-progress-bar>
        </div>
    </div>
</div>