.card {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
    padding-top: 9px;
    padding-bottom: 9px;
}

.card .card-content {
    padding-top: 0px;
    padding-bottom: 0px;
}

.card .card-content .card-title {
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 5px;
}