<div
    id="{{ this.id }}"
    [class]="{ 'form-control': true, 'card': true}"
    [style.width]="this.getWidth()"
    [style.height]="this.getHeight()"
    [style.cursor]="this.isClickable() ? 'pointer' : ''"
    (click)="this.onClick()"
>
    @if( this.isImageVisible() ) {
        <img
            id="{{ this.id }}_image"
            src="{{ this.getImageRef() }}"
            [style.width]="this.getImageWidth()"
            [style.height]="this.getImageHeight()"
            [style.float]="this.getImageFloat()"
        >
    }

    @if( this.isContentVisible() ) {
        <div
            id="{{ this.id }}_content"
            class="card-content"
            [style.paddingLeft]="this.getContentPaddingLeft()"
            [style.paddingRight]="this.getContentPaddingRight()"
        >
            @if( this.isTitleVisible() ) {
                <div
                    id="{{ this.id }}_content_title"
                    class="card-title"
                    [style.textAlign]="this.getImageFloat()"
                >
                    {{ this.getTitle() }}
                </div>
            }
            {{ this.getText() }}
        </div>
    }

    @if( this.areActionsVisible() ) {
        <div class="card-actions">
            <table><tr>
                @for ( action of this.actionsArray ; track action ) {
                    <td>
                        <app-button
                            [value]="action.text ?? ''"
                            textAlign="center"
                            (onClick)="action.onClick()"
                            [color]="action.color ?? 'none'"
                            [width]="action.width"
                            height="20px"
                            fontSize="small"
                            [icon]="action.icon ?? ''"
                        ></app-button>
                    </td>
                }
            </tr></table>
        </div>
    }
</div>