<!-- The top bar -->
<app-bar
  [barType]="'top'"
  [floating]="false"
  [autoHiding]="false"
>
    <!-- Content on the left side of the top bar -->
    <div left-content style="padding-left:10px;">
        <tr>
            <td style="vertical-align:middle;">
                Bank
            </td>
            <td style="width:10px"></td>
            <td style="vertical-align:middle;">
                <!-- The banks selection box -->
                <app-select
                    width="270px"
                    [options]="this.registeredBanks"
                    [cardHeightPx]="50"
                    [selectedOption]="this.selectedBank"
                    (selectedOptionChange)="this.onSelectedBankChange($event)"
                ></app-select>
            </td>
            <td style="width:10px"></td>
            <td style="vertical-align:middle;">
                <!-- The capitalized deposits inclusion switch -->
                <app-switch
                    [(value)]="this.includeCapitalizedDeposits"
                    width="70px"
                    height="30px"
                    color="blue"
                    [enabled]="true"
                ></app-switch>
            </td>
            <td style="width:1px"></td>
            <td style="vertical-align:middle;">
                {{ this.includeCapitalizedDeposits ? 'Include capitalized' : 'Exclude capitalized' }}
            </td>
        </tr>
    </div>

    <!-- Content on the right side of the top bar -->
    <div right-content style="padding-right:10px;">
        <table cellspacing="0" cellpadding="0"><tr>
            <td>
                <!-- The new deposit button -->
                <app-button
                    value='New deposit'
                    icon="button-icons/plus.png"
                    textAlign="left"
                    [enabled]="this.isBankSelected()"
                    (onClick)="onNewDepositButtonClick()"
                    width="125px"
                    height="30px"
                    color="blue"
                ></app-button>
            </td>
        </tr></table>
    </div>
</app-bar>

@if ( this.selectedBank ) {
    <!-- The banks table -->
     <app-table
        width="calc(100% - 20px)"
        [scrollable]="true"
        scrollHeight="calc(100vh - 190px)"
        (scroll)="this.onDepositsTableScroll($event)"
        [zebraStripes]="true"
        [selectableRows]="false"
        [data]="this.getDeposits()"
        [columnNames]="[
            '', 'Source account', 'Deposit account number', 'Start date', 'End date', 'Amount', 'Interest %', 'Interest', '', 'Progress'
        ]"
        [columnWidths]="[
            '50px',
            '150px',
            '200px',
            '80px',
            '80px',
            '80px',
            '80px',
            '80px',
            '45px',
            'calc(100% - 800px)'
        ]
        "
        [headerStyles]="[
            'text-align:center;',
            'text-align:left;',
            'text-align:left;',
            'text-align:center;',
            'text-align:center;',
            'text-align:right;',
            'text-align:right;',
            'text-align:right;',
            'text-align:center;',
            'text-align:center;'
        ]"
        [columnStyles]="[
            'text-align:center;',
            'height:' + this.getDepositRecordHeightPx() + '; text-align:left;',
            'text-align:left;',
            'text-align:center;',
            'text-align:center;',
            'text-align:right;',
            'text-align:right;',
            'text-align:right;',
            'text-align:center;',
            'text-align:center;'
        ]"
    >
        <!-- The actions column -->
        <ng-template tableColumn let-row="row">
        </ng-template>

        <!-- The Source account column -->
        <ng-template tableColumn let-row="row">
            {{ this.getAccountNameByAccountUUID(row.sourceAccountUUID) }}
        </ng-template>

        <!-- The The account number column -->
        <ng-template tableColumn let-row="row">
            {{ row.depositAccountNumber }}
        </ng-template>

        <!-- The Start date column -->
        <ng-template tableColumn let-row="row">
            {{ this.formatDate(row.startDate) }}
        </ng-template>

        <!-- The End date column -->
        <ng-template tableColumn let-row="row">
            {{ this.formatDate(row.projectedEndDate) }}
        </ng-template>

        <!-- The Amount column -->
        <ng-template tableColumn let-row="row">
            {{ this.formatNumber(row.amount, 2) }}
        </ng-template>

        <!-- The Interest percent column -->
        <ng-template tableColumn let-row="row">
            {{ this.formatNumber(row.interestPct * 100, 2) }}%
        </ng-template>

        <!-- The Interest column -->
        <ng-template tableColumn let-row="row">
            <!-- TODO: remove the 0.9 and add the non-hardcoded tax rate in its palce -->
            {{ this.formatNumber(row.amount * row.interestPct * 0.9, 2) }}
        </ng-template>

        <!-- The currency icon column -->
        <ng-template tableColumn let-row="row">
            <img
                [src]="this.getCurrencyIconByCurrencyUUID(row.currencyUUID)"
                width="25px"
                height="25px"
            >
        </ng-template>

        <!-- The progress column -->
        <ng-template tableColumn let-row="row">
            <app-progress-bar
                width="100%"
                height="20px"
                color="blue"
                [value]="this.getProgressPct(row)"
                [valueVisible]="true"
            ></app-progress-bar>
        </ng-template>
    </app-table>
}

<!-- The deposit editor form dialog -->
 <app-dialog
    title="Edit deposit properties"
    width="710px"
    height="250px"
    [(visible)]="this.depositEditorFormDialogVisible"
    [closeButton]="true"
 >
    <table><tr>
        <td>
            <table>
                <tr>
                    <td style="height:40px;">
                        Bank
                    </td>
                    <td style="width:10px;"></td>
                    <td style="padding-left:3px;">
                        <app-label
                            width="250px"
                            [value]="'&nbsp;' + (this.selectedBank?.bank?.bankName ?? '')"
                            textAlign="left"
                            [inputStyle]="true"
                            fontSize="normal"
                        ></app-label>
                    <td>
                </tr>
                <tr>
                    <td style="height:40px;">
                        Source account
                    </td>
                    <td></td>
                        <app-select
                            width="230px"
                            [options]="this.selectedBankAccounts"
                            [cardHeightPx]="50"
                            [selectedOption]="this.selectedDeposit.selectedAccount"
                            (selectedOptionChange)="this.onSelectedAccountChange($event)"
                        ></app-select>
                    <td>
                </tr>
                <tr>
                    <td style="height:40px;">
                        Account number
                    </td>
                    <td></td>
                        <app-input
                            [(value)]="this.selectedDeposit.depositAccountNumber"
                            [valid]="this.isSelectedDepositAccountNumberValid()"
                            width="250px"
                            height="30px"
                            hint="Deposit account number"
                        ></app-input>
                    <td>
                </tr>
            </table>
        </td>
        <td style="width:20px;"></td>
        <td>
            <table>
                <tr>
                    <td style="height:40px;">
                        Start date
                    </td>
                    <td style="width:10px;"></td>
                    <td>
                        <table><tr>
                            <td style="padding-left:3px;">
                                <app-label
                                    width="100px"
                                    height="30px"
                                    textAlign="center"
                                    [value]="this.getSelectedDepositStartDateAsString()"
                                    [inputStyle]="true"
                                ></app-label>
                            </td>
                            <td>
                                <app-calendar-button
                                    [isMondayFirstWeekDay]="true"
                                    [(value)]="this.selectedDeposit.startDate"
                                    calendarStyle="position:absolute"
                                ></app-calendar-button>
                            </td>
                        </tr></table>
                    <td>
                </tr>
                <tr>
                    <td style="height:40px;">
                        End date
                    </td>
                    <td></td>
                    <td>
                        <table><tr>
                            <td style="padding-left:3px;">
                                <app-label
                                    width="100px"
                                    height="30px"
                                    textAlign="center"
                                    [value]="this.getSelectedDepositEndDateAsString()"
                                    [inputStyle]="true"
                                ></app-label>
                            </td>
                            <td>
                                <app-calendar-button
                                    [isMondayFirstWeekDay]="true"
                                    [(value)]="this.selectedDeposit.endDate"
                                    calendarStyle="position:absolute"
                                ></app-calendar-button>
                            </td>
                        </tr></table>
                    <td>
                </tr>
                <tr>
                    <td style="height:40px;">
                        Amount / Interest
                    </td>
                    <td></td>
                    <td>
                        <table><tr>
                            <td>
                                <app-input
                                    [(value)]="this.selectedDeposit.amountStr"
                                    [valid]="this.isSelectedDepositAmountStrValid()"
                                    textAlign="right"
                                    width="70px"
                                    height="30px"
                                    hint="Amount"
                                ></app-input>
                            </td>
                            <td>
                                <app-input
                                    [(value)]="this.selectedDeposit.interestPctStr"
                                    [valid]="this.isSelectedDepositInterestPctStrValid()"
                                    width="35px"
                                    height="30px"
                                    hint="Int"
                                ></app-input>
                            </td>
                            <td>
                                %
                            </td>
                        </tr></table>
                    <td>
                </tr>
            </table>
        </td>
    </tr></table>

    <!-- The deposit editor form error label -->
    <app-label
        width="100%"
        height="30px"
        textAlign="center"
        style="color:var(--red-font-color)"
        [value]="this.getDepositEditorFormError()"
    ></app-label>

    <div style="height:10px;"></div>

    <!-- The deposit editor form submit button -->
    <app-button
        value='Save deposit propertoes'
        textAlign="center"
        [enabled]="this.isDepositEditorFormSubmitButtonEnabled()"
        (onClick)="onDepositEditorFormSubmitButtonClick()"
        width="calc(100% - 2px)"
        height="30px"
        color="blue"
    ></app-button>

 </app-dialog>