<!-- The top barl -->
<app-bar
  [barType]="'top'"
  [floating]="false"
  [autoHiding]="false"
>
    <!-- Content on the left side of the top bar -->
    <div left-content style="padding-left:10px;">
        <tr>
            <td>
                <!-- The back button -->
                <app-button
                    icon="button-icons/back.png"
                    value='Back to accounts'
                    textAlign="left"
                    (onClick)="onBackToAccountsButtonClick()"
                    width="160px"
                    height="30px" 
                ></app-button>
            </td>
            <td style="width:10px"></td>
            <td style="vertical-align:middle;">
                <!-- The account bank's icon -->
                 <img
                    [src]="this.getAccountBankIconImageData()"
                    style="width:25px; height:25x;"
                 >
            </td>
            <td></td>
            <td style="vertical-align:middle;">
                <!-- The account name -->
                <h2>{{ this.getAccountName() }}</h2>
            </td>
        </tr>
    </div>

    <!-- Content on the right side of the top bar -->
    <div right-content style="padding-right:10px;">
        <table cellspacing="0" cellpadding="0"><tr>
            <td>
                <!-- The scroll to bottom button -->
                <app-button
                    value='Sort'
                    [icon]="this.getSortDirectionIcon()"
                    textAlign="left"
                    [enabled]="this.isAccountRecordTextToSearchForValid()"
                    (onClick)="onSortDirectionChangeButtonClick()"
                    width="75px"
                    height="30px"
                    color="none"
                ></app-button>
            </td>
            <td style="width:10px"></td>
            <td>
                <!-- The account record text input box -->
                <app-input
                    [(value)]="accountRecordTextToSearchFor"
                    [valid]="this.isAccountRecordTextToSearchForValid()"
                    width="200px"
                    height="30px"
                    hint="Account record text"
                ></app-input>
            </td>
            <td style="width:10px"></td>
            <td>
                <!-- The account record text search button -->
                <app-button
                    icon="button-icons/search.png"
                    value='Search'
                    textAlign="left"
                    [enabled]="this.isAccountRecordTextToSearchForValid()"
                    (onClick)="onAccountRecordTextSearchButtonClick()"
                    width="100px"
                    height="30px"
                    color="blue"
                ></app-button>
            </td>
        </tr></table>
    </div>
</app-bar>

<!-- The account records table -->
<app-table
    width="calc(100% - 20px)"
    [scrollable]="true"
    scrollHeight="calc(100vh - 235px)"
    (scroll)="this.onAccountRecordsTableScroll($event)"
    [zebraStripes]="true"
    [selectableRows]="false"
    [data]="this.getAccountRecords()"
    [(selectedRow)]="selectedAccountRecord"
    [columnNames]="
        this.isForeignCurrencyAccount()
            ? ['', 'Date', 'Category', 'Subcategory', 'Item', 'Text', 'Value', 'Rate']
            : ['', 'Date', 'Category', 'Subcategory', 'Item', 'Text', 'Value']
    "
    [columnWidths]="
        this.isForeignCurrencyAccount()
            ? [
                '50px',
                '80px',
                '150px',
                '150px',
                '150px',
                'calc(100% - 650px)',
                '70px'
              ]
            : [
                '50px',
                '80px',
                '150px',
                '150px',
                '150px',
                'calc(100% - 720px)',
                '70px',
                '70px'
              ]
    "
    [headerStyles]="[
        'text-align:center;',
        'text-align:left;',
        'text-align:left;',
        'text-align:left;',
        'text-align:left;',
        'text-align:left;',
        'text-align:right;'
    ]"
    [columnStyles]="[
        '',
        'height:' + this.getAccountRecordHeightPx() + '; height: 50px; text-align:left;',
        'text-align:left;',
        'text-align:left;',
        'text-align:left;',
        'overflow:hidden;white-space:break-spaces;text-overflow:clip; text-align:left;',
        'text-align:right;'
    ]"
  >
    <!-- The actions column -->
    <ng-template tableColumn let-row="row">
        <table cellsapcing="0" cellpadding="0"><tr>
            <td>
                <!-- The delete button -->
                <app-button
                    value=''
                    icon="button-icons/minus.png"
                    textAlign="left"
                    (onClick)="onDeleteAccountRecordButtonClick(row)"
                    width="20px"
                    height="20px"
                    color="red"
                ></app-button>
            </td>
            <td style="width:5px;"></td>
            <td>
                @if ( !this.isCurrencyExchangeRecord(row) ) {
                    <!-- The edit button -->
                    <app-button
                        value=''
                        icon="button-icons/edit.png"
                        textAlign="left"
                        (onClick)="onEditAccountRecordButtonClick(row)"
                        width="20px"
                        height="20px"
                        color="none"
                    ></app-button>
                }
            </td>
        </tr></table>
    </ng-template>

    <!-- The date column -->
    <ng-template tableColumn let-row="row">
        {{ this.extractDate(row.accountRecordDate) }}
    </ng-template>

    <!-- The category column -->
    <ng-template tableColumn let-row="row">
        <table cellspacing="0" cellpadding="0"><tr>
            <td style="background:none;">
                <img
                    [src]="this.getAccountRecordCategoryIconImageData(row)"
                    style="width:30px; height:30px;"
                >
            </td>
            <td style="width:5px; background:none;"></td>
            <td style="background:none;"><h3>
                {{ this.getAccountRecordCategoryName(row) }}
            </h3></td>
        </tr></table>
    </ng-template>

    <!-- The sub-category column -->
    <ng-template tableColumn let-row="row">
        <td style="background:none;">
            <img
                [src]="this.getAccountRecordSubcategoryIconImageData(row)"
                style="width:30px; height:30px;"
            >
        </td>
        <td style="width:5px; background:none;"></td>
        <td style="background:none;"><h3>
            {{ this.getAccountRecordSubcategoryName(row) }}
        </h3></td>
    </ng-template>

    <!-- The item column -->
    <ng-template tableColumn let-row="row">
        <td style="background:none;">
            <img
                [src]="this.getAccountRecordItemIconImageData(row)"
                style="width:30px; height:30px;"
            >
        </td>
        <td style="width:5px; background:none;"></td>
        <td style="background:none;"><h3>
            {{ this.getAccountRecordItemName(row) }}
        </h3></td>
    </ng-template>

    <!-- The text column -->
    <ng-template tableColumn let-row="row">
        {{ row.accountRecordText }}
    </ng-template>

    <!-- The value column -->
    <ng-template tableColumn let-row="row">
        <div [style.color]="row.accountRecordValue >= 0 ? 'var(--green-font-color)' : 'var(--red-font-color)'">
            {{ this.formatNumber(row.accountRecordValue, 2) }}
        </div>
    </ng-template>

    @if ( this.isForeignCurrencyAccount() ) {
        <!-- The exchange rate column -->
        <ng-template tableColumn let-row="row">
            {{ this.formatNumber(row.exchangeRate) }}
        </ng-template>
    }

</app-table>

<!-- The account actions bar -->
<app-bar
  [barType]="'bottom'"
  [floating]="false"
  [autoHiding]="false"
>
    <!-- Content on the left side of the account actions bar -->
    <div left-content style="padding-left:10px;">
        <table cellspacing="0" cellpadding="0"><tr>
            <td>
                <!-- The new record button -->
                <app-button
                    value='New record'
                    icon="button-icons/plus.png"
                    textAlign="left"
                    (onClick)="onNewAccountRecordButtonClick()"
                    width="130px"
                    height="30px"
                    color="blue"
                ></app-button>
            </td>
            <td style="width:10px"></td>
            <td>
                <!-- The transfer button -->
                <app-button
                    value='Transfer'
                    textAlign="left"
                    (onClick)="onTransferButtonClick()"
                    width="100px"
                    height="30px"
                    color="blue"
                ></app-button>
            </td>
            <td style="width:10px"></td>
            <td>
                <!-- The currency exchange button -->
                <app-button
                    value='Currency exchange'
                    textAlign="left"
                    (onClick)="onCurrencyExchangeButtonClick()"
                    width="170px"
                    height="30px"
                    color="blue"
                ></app-button>
            </td>
        </tr></table>
    </div>

    <!-- Content on the right side of the account actions bar -->
    <div right-content style="padding-right:10px;">
        <table cellspacing="0" cellpadding="0"><tr>
            <td>
                Balance
            </td>
            <td style="width:10px"></td>
            <td>
                <!-- The account balance label -->
                <app-label
                    width="140px"
                    [value]="this.cachedFormattedAccountBalance + '&nbsp;'"
                    textAlign="right"
                    [inputStyle]="true"
                    fontSize="normal"
                ></app-label>
            </td>
            <td style="width:10px"></td>
            <td>
                <!-- The account currency icon -->
                 <img
                    [src]="this.getAccountCurrencyIconImageData()"
                    style="width:32px; height: 32px"
                 >
            </td>
        </tr></table>
    </div>
</app-bar>

<!-- The account record edit dialog -->
 <app-dialog
    title="Account record properties"
    width="500px"
    height="335px"
    [(visible)]="this.accountRecordEditDialogVisible"
    [closeButton]="true"
 >
    <table>
        <tr>
            <td style="height:40px;">
                Category
            </td>
            <td style="width:20px"></td>
            <td>
                <app-select
                    width="350px"
                    [options]="this.registeredIncomeOrExpenseItemCategories"
                    [cardHeightPx]="50"
                    [selectedOption]="this.selectedAccountRecord.selectedIncomeOrExpenseItemCategory"
                    (selectedOptionChange)="this.onSelectedIncomeOrExpenseItemCategoryChange($event)"
                ></app-select>
            </td>
        </tr>
        <tr>
            <td style="height:40px;">
                Subcategory
            </td>
            <td></td>
            <td>
                <app-select
                    width="350px"
                    [options]="this.selectedAccountRecordSubcategoryOptions"
                    [cardHeightPx]="50"
                    [selectedOption]="this.selectedAccountRecord.selectedIncomeOrExpenseItemSubcategory"
                    (selectedOptionChange)="this.onSelectedIncomeOrExpenseItemSubcategoryChange($event)"
                ></app-select>
            </td>
        </tr>
        <tr>
            <td style="height:40px;">
                Item
            </td>
            <td></td>
            <td>
                <app-select
                    width="350px"
                    [options]="this.selectedAccountRecordItemOptions"
                    [cardHeightPx]="50"
                    [selectedOption]="this.selectedAccountRecord.selectedIncomeOrExpenseItem"
                    (selectedOptionChange)="this.onSelectedIncomeOrExpenseItemChange($event)"
                ></app-select>
            </td>
        </tr>
        <tr>
            <td style="height:40px;">
                Text
            </td>
            <td></td>
            <td>
                <app-input
                    [(value)]="this.selectedAccountRecord.accountRecordText"
                    [valid]="this.isSelectedAccountRecordTextValid()"
                    [autocompleteEnabled]="true"
                    [autocompleteMapper]="this.selectedAccountRecordTextAutocompleteMapper"
                    width="370px"
                    height="30px"
                    hint="Account record text"
                ></app-input>
            </td>
        </tr>
        <tr>
            <td style="height:40px;">
                Value
            </td>
            <td></td>
            <td>
                <app-input
                    [(value)]="this.selectedAccountRecord.accountRecordValueStr"
                    [valid]="this.isSelectedAccountRecordValueValid()"
                    width="160px"
                    height="30px"
                    hint="Account record value"
                ></app-input>
            </td>
        </tr>
        <tr>
            <td style="height:30px;"></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>
                <app-button
                    [enabled]="this.isSelectedAccountRecordValid()"
                    value='Save record'
                    textAlign="center"
                    (onClick)="onSelectedAccountRecordSaveButtonClick()"
                    width="370px"
                    height="30px"
                    color="blue"
                ></app-button>
            </td>
        </tr>
    </table>
</app-dialog>