<span *ngIf="!(state.monitoredCurrencies?.length > 0)">
    You must have at least one monitored currency to set up foreign currency properties
</span>
<span *ngIf="state.monitoredCurrencies?.length > 0">

    <!-- FOREIGN CURRENCY CHECKBOX -->
    <mat-checkbox
        labelPosition="after"
        [(ngModel)]="state.selectedAccount.foreignCurrencyAccount"
        (change)="state.saveSelectedAccount()"
    >
        Foreign currency
    </mat-checkbox>

    &nbsp; &nbsp; &nbsp; 

    <!-- MONITORED CURRENCY SELECTION BOX -->
    <select
        *ngIf="state.selectedAccount.foreignCurrencyAccount"
        class="app-control-component app-currencies-list"
        #t (change)="state.selectMonitoredCurrency(t.value)"
    >
        <option *ngFor="let currency of state.monitoredCurrencies"
                value="{{currency.id}}"
                [selected]="currency.id == state.selectedAccount.currencyId"> {{ currency.currencyTypeName }}
        </option>
    </select>
</span>