.tabs .tab {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 1px;
}

.tabs .content {
    padding: 5px;
}

.tabs .content.top {
    margin-top: 5px;
    border-top-style: solid;
    border-top-width: 1px;
}

.tabs .tab.top {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.tabs .content.right {
    border-right-style: solid;
    border-right-width: 1px;
}

.tabs .tab.right {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.tabs .content.bottom {
    margin-bottom: 6px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.tabs .tab.bottom {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.tabs .content.left {
    border-left-style: solid;
    border-left-width: 1px;
}

.tabs .tab.left {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}