
<!-- ACCOUNT SELECTION BOX AND PROPERTIES UDATE FIELDS -->
<div class="accounts-top-bar">
    <div style="float: left">Account &nbsp;</div>
    <app-accounts-list style="float:left"></app-accounts-list>

    <div
        class="app-control-component app-button input-form-categories-edit-button"
        (click)="showAccountsManager()"
    ></div>

    &nbsp; &nbsp; &nbsp; 

    <app-account-properties></app-account-properties>
</div>



<!-- ACCOUNT SUMMARY -->
<div class="generic-panel account-summary-panel" style="float: left; ">
    <span class="generic-panel-title">Account summary:</span><br />
    <app-account-summary
        *ngIf="state.selectedAccountSummary != null && state.selectedAccount != null"
        [summary]="state.selectedAccountSummary"
        [account]="state.selectedAccount"
    ></app-account-summary>

    <br /><br />

    <b>Monthly balance report</b>
    <app-monthly-balance-report
        [width]="280"
        [height]="120"
        [hideDates]="true"
        [sourceDate]="state.monthlyBalanceReport"
    ></app-monthly-balance-report>

    <br /><br />

    <b>Monthly delta report</b>
    <app-monthly-savings-report
        [chartType]="'ColumnChart'"
        [width]="280"
        [height]="120"
        [hideDates]="true"
        [sourceDate]="state.monthlyBalanceReport"
        [sourceDataXValueMapper]="sourceXValueMapper"
        [sourceDataYValueMapper]="sourceYValueMapper"
        [forceMin]="0"
        [chartColumnNames]="['Month', 'Delta']"
    ></app-monthly-savings-report>
</div>



<!-- SPACER -->
<div id="account-panels-spacer" style="float: left;">&nbsp;</div>



<!-- ACCOUNT DETAILS AND INPUT FORM -->
<div class="generic-panel account-records-panel" style="float: left; ">
    <!-- RECORDS LIST -->
    <span class="generic-panel-title">Account records:</span><br />
    <app-account-records *ngIf="state.selectedAccountRecords != null && state.incomeOrExpenseItems != null"></app-account-records>

    <!-- SPACER -->
    <div class="account-records-separator"></div>

    <!-- INPUT FORM -->
    <app-account-records-input-form *ngIf="state.selectedAccountRecord"></app-account-records-input-form>

    <!-- NEW RECORD BUTTON -->
    <div
        class="app-control-component app-button app-button-new-account"
        style="float: left"
        *ngIf=" !(state.selectedAccountRecord)"
        (click)= "state.newAccountRecord()"
    >
        New record
    </div>

    <!-- TRANSFER BUTTON -->
    <div
        class="app-control-component app-button app-button-new-account"
        style="float: left"
        *ngIf=" !(state.selectedAccountRecord)"
        (click)= "showMoneyTransferForm()"
    >
        Transfer
    </div>
</div>

