<app-bar
  barType="top"
  [floating]="true"
  [autoHiding]="false"
>
  <div left-content>
    <h1>GUI Components Showcase</h1>
  </div>
  <div right-content>
    <app-color-theme-selector></app-color-theme-selector>
  </div>
</app-bar>


<app-menu
  [items]="this.getMenuItems()"
  [(selectedItem)]="this.selectedMenuItem"
  position="left"
></app-menu>

<div style="float:left"> <!-- !!!!!!!!!!!!!!!!!!!!!!! float:left - for menu on the right !!!!!!!!!!!!!!!!!!!!!!! -->
  <br />
  <table>
    <tr>
      <td style="vertical-align: top">
        <app-input
          [enabled]="true"
          [(value)]="inputValue"
          [valid]="true"
          width="300px"
          height="30px"
          hint="Enter a value here"
        ></app-input>
        <br /><br />
        {{inputValue}}
        <br /><br />
        
        <app-switch
          [(value)]="switchValue"
          width="70px"
          height="30px"
          color="red"
          [enabled]="true"
        ></app-switch>
        {{ this.switchValue ? 'true' : 'false' }}
        <br /><br />
        
        <app-progress-bar
          [loading]="!this.switchValue"
          color="blue"
          [value]="0.4823874320"
          [valueVisible]="true"
        ></app-progress-bar>
        <br /><br />
        
        <app-button
          value='Button text'
          textAlign="left"
          width="300px"
          height="30px" 
          icon="favicon.ico"
          iconAlign="left"
          [enabled]="true"
          (onClick)="onButtonClick()"
          color="blue"
        ></app-button>
        <br /><br />
        
        <app-card
          imageRef="pic.png"
          imagePosition="left"
        ></app-card>
        <br /><br />
        
        <app-card
          imageRef="pic.png"
          imagePosition="right"
          title="Clickable card"
          [clickable]="true"
          (onClick)="onButtonClick()"
        ></app-card>
        <br /><br />
  
        <app-select
          [options]="this.selectOptions"
          [cardHeightPx]="50"
          [(selectedOption)]="this.selectSelectedOption"
        ></app-select>
        <app-label [value]="this.getSelectSelectedOptionValue()" textAlign="center"></app-label>
        <br /><br />
        <br /><br />
        <app-calendar
          [isMondayFirstWeekDay]="true"
          [(value)]="this.selectedDate"
        ></app-calendar>
        {{ this.selectedDate }}
        <br /><br />
      </td>
      <td width="100">
  
      </td>
      <td style="vertical-align: top">
        <app-label value="My Beautiful Label"          fontSize="small" color="none" textAlign="center" [flash]="false"></app-label>
        <app-label value="My Beautiful Red Label"      fontSize="small" color="red"  textAlign="center" [flash]="false"></app-label>
        <app-label value="My Beautiful Blue Label"     fontSize="small" color="blue" textAlign="center" [flash]="false"></app-label>
        <app-label value="My Beautiful Flashing Label" fontSize="small" color="none" textAlign="center" [flash]="true" ></app-label>
        <br /><br />
  
        <app-panel
          width="300px"
          height="200px"
          title="The panel title"
          (scroll)="onScrollablePanelScroll($event)"
        >
          Test<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
          TEST<br />
        </app-panel>
        <app-label [value]="'Scroll direction: ' + this.getScrollablePanelScrollDirection()"></app-label>
        <app-label [value]="'Scroll pct: ' + this.getScrollablePanelScrollPct()"></app-label>
        <br /><br />
  
        <app-cards-list
          width="300px"
          height="200px"
          title="Cards list"
          cardWidth="265px"
          cardHeight="50px"
          cardSpacing="5px"
          [cards]="getCardsListData()"
          [clickable]="true"
          [selectable]="true"
          (selectionChange)="this.onCardSelected($event)"
          (scroll)="this.onCardListScroll($event)"
        >
        </app-cards-list>
        <app-label [value]="this.getSelectedCardTitle()" color="blue" fontSize="small"></app-label>
        
        <br /><br />

        <app-tabs
          position="top"
          [tabs]="this.getTabs()"
          [(selectedTab)]="this.selectedTab"
        >
          @if ( this.selectedTab?.text === "Tab Oneeeee !!!" ) {
            This is the content of tab 1
          }
          @if ( this.selectedTab?.text === "Tab 2" ) {
            This is the content of tab two
          }
          @if ( this.selectedTab?.text === "Tab 3" ) {
            This is the content of tab 33333
          }
        </app-tabs>

        <app-calendar-button
          [isMondayFirstWeekDay]="true"
          [(value)]="this.selectedDate2"
        ></app-calendar-button>
        {{ this.selectedDate2 }}

        <br /><br /><br />

        <app-button
          value='Open modal overlay'
          (onClick)="onOpenModalOverlayButtonClick()"
          color="blue"
          width="300px"
          height="30px"
        ></app-button>

        <app-button
          value='Open test dialog'
          (onClick)="onOpenTestDialogButtonClick()"
          color="blue"
          width="300px"
          height="30px"
        ></app-button>

        <app-button
          value='Open message box'
          (onClick)="onOpenMessageBoxButtonClick()"
          color="blue"
          width="300px"
          height="30px"
        ></app-button>
      </td>
    </tr>
  </table>

  Table:
  <app-table
    [zebraStripes]="true"
    [selectableRows]="true"
    [data]="tableData"
    [(selectedRow)]="selectedTableRow"
    [columnNames]="['Col 1', 'Col 2', 'Col 3', 'Col 4', 'Col 5']"
    [columnWidths]="['100px', '130px', '80px', '140px']"
    [headerStyles]="[
      'text-align:left; width:100px', 
      'text-align:left; width:130px', 
      'background-color:var(--red-background-color)',
      'width:140px'
      ]"
    [columnStyles]="[
      '',
      '',
      'background-color:var(--blue-background-color)',
      'text-align:center'
    ]"
  >
    <ng-template tableColumn let-row="row">
        {{ row.propertyA }}
    </ng-template>
    <ng-template tableColumn let-row="row">
        {{ row.propertyB }}
    </ng-template>
    <ng-template tableColumn let-row="row">
        {{ row.propertyC }}
    </ng-template>
    <ng-template tableColumn let-row="row">
        {{ row.propertyA }} {{ row.propertyB }}
    </ng-template>
    <ng-template tableColumn let-row="row">
        {{ row.propertyB }} {{ row.propertyC }}
    </ng-template>
  </app-table>
  <br />
  Selected row: {{ selectedTableRow.propertyA }}
  <br />
  <br />

  Scrollable table:
  <app-table
    [zebraStripes]="true"
    [verticalGridLines]="true"
    [scrollable]="true"
    [sortable]="true"
    [selectableRows]="true"
    [data]="scrollableTableData"
    [(selectedRow)]="scrollableTableSelectedRow"
    (scroll)="onScrollableTableScroll($event)"
    (sort)="onScrollableTableSort($event)"
    [columnNames]="['Row number', 'Item name', 'Item value']"
    [columnWidths]="['100px', '130px']"
    [headerStyles]="[
      'text-align:left', 
      'text-align:center', 
      'background-color:var(--red-background-color)'
      ]"
    [columnStyles]="[
      '',
      'text-align:center;',
      'background-color:var(--blue-background-color); text-align: right;'
    ]"
  >
    <ng-template tableColumn let-row="row">
        {{ row.rowNumber }}
    </ng-template>
    <ng-template tableColumn let-row="row">
        {{ row.itemName }}
    </ng-template>
    <ng-template tableColumn let-row="row">
        {{ scrollableTableNumberFormat.format(row.itemValue) }}
    </ng-template>
  </app-table>
  <br />
  Selected row: {{ scrollableTableSelectedRow.rowNumber }}<br />
  <br />
  <app-label [value]="'Scroll direction: ' + this.scrollableTableScrollDirection" textAlign="left"></app-label>
  <app-label [value]="'Scroll pct: ' + this.scrollableTableScrollPct" textAlign="left"></app-label>
  <br />
  <br />

  <table><tr>
    <td>
      <app-picture-frame
        src="menu-icons/home.png"
        width="200px"
        height="200px"
        [titlePos]="'bottom'"
        title="Picture with bottom title"
      ></app-picture-frame>
    </td>
    <td>
      <app-picture-frame
        src="menu-icons/home.png"
        width="200px"
        height="200px"
        [titlePos]="'top'"
        title="Picture with top title"
      ></app-picture-frame>
    </td>
  </tr></table>

  <br /><br />

  <app-data-scroller
    width="500px"
    height="300px"
    [pageSize]="70"
    [allowSelect]="true"
    [allowMultiSelect]="true"
    (selectionChange)="this.dataScrollerSelectionChange($event)"
    [filters]="this.dataScrollerFilters"
    searchBoxHint="Search here"
    [pageRequestCallback]="this.dataScrollerPageRequestCallback"
    [elementUniqueKeyFunction]="this.dataScrollerElementUniqueKeyFunction"
  >
    <ng-template dataScrollerItem let-item="item">
        {{ item.name }}
    </ng-template>
  </app-data-scroller>
  <br />
  Selected items: <br />
  @for (selectedItem of this.dataScrollerSelectedData ; track selectedItem) {
    {{ selectedItem.name }} - {{ selectedItem.uuid }} <br />
  }
</div>


<app-menu
  [items]="this.getMenuItems()"
  [(selectedItem)]="this.selectedMenuItem"
  position="right"
  ></app-menu>
 

<app-bar
  [barType]="'bottom'"
  [floating]="false"
  [autoHiding]="false"
>
  <div left-content>
    <h1>GUI Components Showcase</h1>
  </div>
  <div right-content>
    <h2>aaa</h2>
  </div>
</app-bar>

<app-modal-overlay [visible]="this.modalOverlayVisible">
  <app-button
    value='Click to close the modal overlay'
    textAlign="center"
    (onClick)="onCloseModalOverlayButtonClick()"
    width="300px"
    height="30px" 
  ></app-button>
</app-modal-overlay>

<app-dialog
  title="Test dialog"
  [visible]="this.testDialogVisible"
>
  This is a test dialog<br />
  <br />
  <app-button
    value='Close test dialog'
    textAlign="center"
    (onClick)="onCloseTestDialogButtonClick()"
    color="blue"
    width="300px"
    height="30px"
  ></app-button>
</app-dialog>

<app-msgbox
  title="Message box"
  text="This is a message box with 3 buttons: one fires the affirmative response event, another fires the 
    negative responseevent and the last ones closes the message box without doing anything."
  [(visible)]="this.messageBoxVisible"
  [type]="messageBoxType"
  height="160px"
  (onAffirmativeResponse)="this.onMessageBoxAffirmativeResponse()"
  (onNegativeResponse)="this.onMessageBoxNegativeResponse()"
></app-msgbox>