:root {
    --font-size-small: 13px;
    --font-size-base: 16px;
    --font-size-large: 18px;

    --form-control-border-radius: 4px;
}

body {
    background-color: var(--application-background-color);
    font: small-caps 3em sans-serif;
    font-size: var(--font-size-base);
    color: var(--application-text-color);
    margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

.form-control {
    border-style: solid;
    border-width: 1px;
    border-radius: var(--form-control-border-radius);
    border-color: var(--form-control-border-color);
}

.clickable {
    background-color: var(--form-control-background-color);
    color: var(--form-control-text-color-enabled);
    cursor: pointer;
}

.editable {
    border-style: solid;
    border-width: 1px;
    background-color: var(--form-control-background-color-editable);
    color: var(--form-control-text-color-editable);
    outline: none;
}

.form-control.clickable.hoverable :hover {
    background-color: var(--form-control-background-color-hover);
    color: var(--form-control-text-color-hover);
    transition: 0.5s;
    border-radius: 4px;
}

.form-control.clickable.hoverable:hover {
    background-color: var(--form-control-background-color-hover);
    color: var(--form-control-text-color-hover);
    transition: 0.5s;
    border-radius: 4px;
}

.form-control.disabled {
    color: var(--form-control-text-color-disabled);
}

.form-control.editable.disabled {
    background-color: var(--form-control-background-color-editable-disabled);
}

.form-control.editable.hint {
    color: var(--form-control-text-color-editable-hint);
}

.form-control.editable.invalid {
    border-color: var(--form-control-border-color-editable-invalid);
}

.form-control.clickable .switch-inner-div {
    background-color: var(--form-control-background-color-alt);
}

.form-control.clickable.disabled .switch-inner-div {
    background-color: var(--form-control-background-color-alt-disabled);
}

.form-control-status-message {
    color: var(--form-control-text-color-status-message);
}

.red {
    background-color: var(--red-background-color);
    color: var(--red-text-color);
}

.green {
    background-color: var(--green-background-color);
    color: var(--green-text-color);
}

.blue {
    background-color: var(--blue-background-color);
    color: var(--blue-text-color);
}

.form-control.hoverable.red :hover {
    background-color: var(--red-background-color-hover);
    color: var(--red-text-color);
}

.progress-bar-progress.red, .form-control.clickable .switch-inner-div.red {
    background-color: var(--red-background-color) !important;
    color: var(--red-text-color) !important;
}

.form-control.hoverable.blue :hover {
    background-color: var(--blue-background-color-hover);
    color: var(--blue-text-color);
}

.progress-bar-progress.blue, .form-control.clickable .switch-inner-div.blue {
    background-color: var(--blue-background-color) !important;
    color: var(--blue-text-color) !important;
}

.card {
    background-color: var(--card-background-color);
}

.cards-list-card-wrapper.selectable .card:hover {
    background-color: var(--card-background-color-hover);
    transition: 0.5s;
}

.cards-list-card-wrapper.selectable.selected .card {
    background-color: var(--card-background-color-selected);
}

.cards-list-card-wrapper.selectable.selected .card:hover {
    background-color: var(--card-background-color-selected-hover);
    transition: 0.5s;
}

.card .card-content {
    font-size: var(--font-size-small);
}

.card .card-content .card-title {
    font-size: var(--font-size-base) !important;
    border-bottom-color: var(--separator-color);
    color: var(--title-color);
}

.select-control .select-box .card {
    background-color: var(--form-control-background-color-editable);
}

.select-control .select-button {
    color: var(--form-control-text-color);
}

.select-control:hover .select-button {
    background-color: var(--form-control-background-color-hover);
    color: var(--form-control-text-color-hover);
    transition: 0.5s;
}

.form-control.progress-bar .progress-bar-loading {
    background-color: var(--form-control-background-color);
}

.form-control.progress-bar .progress-bar-progress {
    border-radius: var(--form-control-border-radius);
    background-color: var(--form-control-background-color);
}

.form-control.progress-bar .progress-bar-progress-value {
    font-size: var(--font-size-small);
}

.label {
    border-radius: var(--form-control-border-radius);
}

.label.small-font {
    font-size: var(--font-size-small);
}

.label.large-font {
    font-size: var(--font-size-large);
}

.label.flashing {
    animation: label-flashing-animation 1s ease-in-out;
    animation-fill-mode: both; 
    animation-iteration-count: infinite;
}

@keyframes label-flashing-animation {
    0% {  }
    50% { 
        background-color: var(--flash-background-color);
        color: var(--flash-text-color)
    }
    100% {  }
}

.panel {
    background-color: var(--panel-background-color);
    border-style: solid;
    border-width: 1px;
    border-radius: var(--form-control-border-radius);
    border-color: var(--panel-border-color);
}

.panel-title {
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--separator-color);
    color: var(--title-color);
}

.panel-content {
    scrollbar-color: var(--scrollbar-button-color) var(--scrollbar-background-color);
}

.bar {
    background-color: var(--form-control-background-color);
}

.bar .bar-separator {
    background-color: var(--separator-color);
}

.bar .bar-separator.bar-separator-top {
    box-shadow: 0px -2px 3px var(--shadow-color);
}

.bar .bar-separator.bar-separator-bottom {
    box-shadow: 0px 2px 3px var(--shadow-color);
}

.menu .menu_content .item {
    background-color: var(--card-background-color);
    border-color: var(--panel-border-color);
}

.menu .menu_content .item:hover {
    background-color: var(--card-background-color-hover);
    transition: 0.5s;
}

.menu .menu_content .item.selected {
    background-color: var(--card-background-color-selected);
    border-color: var(--form-control-border-color);
}

.menu .menu_content .item.selected:hover {
    background-color: var(--card-background-color-selected-hover);
    transition: 0.5s;
}

.menu .folding_trigger {
    cursor: pointer;
    font-size: var(--font-size-large);
    background-color: var(--form-control-background-color);
    color: var(--form-control-text-color-enabled);
    transition: 0.5s;
}

.menu .menu_content .item .item_icon {
    border-color: var(--panel-border-color);
}

.menu .menu_content .item.selected .item_icon {
    border-color: var(--form-control-border-color);
}

.menu .folding_trigger:hover {
    transition: 0.5s;
    background-color: var(--form-control-background-color-hover);
}

.tabs .tab.selected {
    background-color: var(--card-background-color-selected);
}

.tabs .tab.selected:hover {
    background-color: var(--form-control-background-color-hover);
    color: var(--form-control-text-color-hover);
    transition: 0.5s;
}

.calendar .daytable .day-names-row {
    color: var(--form-control-text-color-status-message);
}

.calendar .daytable .overflow-day {
    color: var(--form-control-text-color-disabled)
}

.calendar .daytable .day-numbers-row td {
    border-style: solid;
    border-width: 1px;
    border-color: var(--panel-background-color);
    transition: 0.5s;
}

.calendar .daytable .day-numbers-row td.selected {
    border-style: solid;
    border-width: 1px;
    border-color: var(--form-control-border-color);
    border-radius: var(--form-control-border-radius);
    background-color: var(--card-background-color-selected);
    transition: 0.5s;
}

.calendar .daytable .day-numbers-row td:hover:not(.overflow-day) {
    border-style: solid;
    border-width: 1px;
    border-color: var(--form-control-border-color);
    border-radius: var(--form-control-border-radius);
    background-color: var(--card-background-color-hover);
    transition: 0.5s;
}

.calendar .daytable .day-numbers-row td.selected:hover {
    background-color: var(--card-background-color-selected-hover);
    transition: 0.5s;
}

.calendar-button-container .calendar-button {
    border-style: solid;
    border-width: 1px;
    border-radius: var(--form-control-border-radius);
    border-color: var(--form-control-border-color);
    background-color: var(--form-control-background-color);
    color: var(--form-control-text-color-enabled);
}

.calendar-button:hover {
    background-color: var(--form-control-background-color-hover);
    transition: 0.5s;
}

.calendar-button-container .calendar-button .grid-icon td {
    background-color: var(--application-text-color);
}

.table-component thead th {
    background-color: var(--form-control-background-color);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: var(--form-control-border-color);
}

.table-component tbody.zebra-stripes :nth-child(odd) td {
    background-color: var(--table-odd-row-backgroun-color);
}

.table-component tbody.zebra-stripes :nth-child(even) td {
    background-color: var(--table-even-row-backgroun-color);
}

.table-component thead .first-cell {
    border-top-left-radius: var(--form-control-border-radius);
}

.table-component thead .last-cell {
    border-top-right-radius: var(--form-control-border-radius);
}

.table-component tbody.selectable-rows tr:hover td {
    cursor: pointer;
    background-color: var(--card-background-color-hover);
    color: var(--form-control-text-color-hover);
    transition: 0.5s;
}

.table-component tbody.selectable-rows tr td {
    transition: 0.2s;
}

.table-component tbody.selectable-rows .selected td {
    background-color: var(--card-background-color-selected);
}

.table-container.scrollable-table-container {
    scrollbar-color: var(--scrollbar-button-color) var(--scrollbar-background-color);
}

.scrollable-table-header-row {
    display: block;
    height: calc(var(--font-size-large) + 12px);
}

.table-component th.vertical-grid-lines {
    border-left-color: var(--form-control-background-color);
}

.table-component td.vertical-grid-lines {
    border-left-color: var(--form-control-background-color-alt);
}

.table-component th.sort-icon-cell:hover {
    background-color: var(--application-text-color) !important;
    color: var(--application-background-color) !important;
    transition: 0.2s;
}

.modal-overlay .modal-overlay-backdrop {
    background-color: var(--modal-overlay-background-color);
    backdrop-filter: blur(1px);
}

.center-horizontally {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%);
}

.msgbox .msgbox-content {
    scrollbar-width: thin;
}

.picture-frame {
    background-color: var(--panel-background-color);
    border-style: solid;
    border-width: 1px;
    border-radius: var(--form-control-border-radius);
    border-color: var(--panel-border-color);
}

.picture-frame .picture-frame-picture {
    border-radius: var(--form-control-border-radius);
}

.data-scroller .data-scroller-item-container {
    transition: 0.5s;
    border-radius: 5px;
}

.data-scroller .data-scroller-item-container.selectable:hover {
    transition: 0.5s;
    border-radius: 5px;
    background-color: var(--card-background-color-selected-hover);
}

.data-scroller .data-scroller-item-container.selectable.selected {
    transition: 0.5s;
    background-color: var(--card-background-color-selected);
    border-radius: 5px;
    
}

.data-scroller .data-scroller-item-container.selectable.selected:hover {
    transition: 0.5s;
    background-color: var(--card-background-color-selected-hover);
    border-radius: 5px;
}

.data-scroller .data-scroller-filter-bar {
    background-color: var(--form-control-background-color);
}