:root {
    --font-size-small: 13px;
    --font-size-base: 16px;
    --font-size-large: 18px;

    --form-control-border-radius: 4px;
}

body {
    background-color: var(--application-background-color);
    font: small-caps 3em sans-serif;
    font-size: var(--font-size-base);
    color: var(--application-text-color);
    margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

.form-control {
    border-style: solid;
    border-width: 1px;
    border-radius: var(--form-control-border-radius);
    border-color: var(--form-control-border-color);
}

.clickable {
    background-color: var(--form-control-background-color);
    color: var(--form-control-text-color-enabled);
    cursor: pointer;
}

.editable {
    border-style: solid;
    border-width: 1px;
    background-color: var(--form-control-background-color-editable);
    color: var(--form-control-text-color-editable);
    outline: none;
}

.form-control.clickable.hoverable :hover {
    background-color: var(--form-control-background-color-hover);
    color: var(--form-control-text-color-hover);
    transition: 0.5s;
    border-radius: 4px;
}

.form-control.disabled {
    color: var(--form-control-text-color-disabled);
}

.form-control.editable.disabled {
    background-color: var(--form-control-background-color-editable-disabled);
}

.form-control.editable.hint {
    color: var(--form-control-text-color-editable-hint);
}

.form-control.editable.invalid {
    border-color: var(--form-control-border-color-editable-invalid);
}

.form-control.clickable .switch-inner-div {
    background-color: var(--form-control-background-color-alt);
}

.form-control.clickable.disabled .switch-inner-div {
    background-color: var(--form-control-background-color-alt-disabled);
}

.form-control-status-message {
    color: var(--form-control-text-color-status-message);
}

.red {
    background-color: var(--red-background-color);
    color: var(--red-text-color);
}

.form-control.hoverable.red :hover {
    background-color: var(--red-background-color-hover);
    color: var(--red-text-color);
}

.progress-bar-progress.red, .form-control.clickable .switch-inner-div.red {
    background-color: var(--red-background-color) !important;
    color: var(--red-text-color) !important;
}

.blue {
    background-color: var(--blue-background-color);
    color: var(--blue-text-color);
}

.form-control.hoverable.blue :hover {
    background-color: var(--blue-background-color-hover);
    color: var(--blue-text-color);
}

.progress-bar-progress.blue, .form-control.clickable .switch-inner-div.blue {
    background-color: var(--blue-background-color) !important;
    color: var(--blue-text-color) !important;
}

.card {
    background-color: var(--card-background-color);
}

.cards-list-card-wrapper.selectable .card:hover {
    background-color: var(--card-background-color-hover);
    transition: 0.5s;
}

.cards-list-card-wrapper.selectable.selected .card {
    background-color: var(--card-background-color-selected);
}

.cards-list-card-wrapper.selectable.selected .card:hover {
    background-color: var(--card-background-color-selected-hover);
    transition: 0.5s;
}

.card .card-content {
    font-size: var(--font-size-small);
}

.card .card-content .card-title {
    font-size: var(--font-size-base) !important;
    border-bottom-color: var(--separator-color);
    color: var(--title-color);
}

.select-control .select-box .card {
    background-color: var(--form-control-background-color-editable);
}

.select-control .select-button {
    color: var(--form-control-text-color);
}

.select-control:hover .select-button {
    background-color: var(--form-control-background-color-hover);
    color: var(--form-control-text-color-hover);
    transition: 0.5s;
}

.form-control.progress-bar .progress-bar-loading {
    background-color: var(--form-control-background-color);
}

.form-control.progress-bar .progress-bar-progress {
    border-radius: var(--form-control-border-radius);
    background-color: var(--form-control-background-color);
}

.form-control.progress-bar .progress-bar-progress-value {
    font-size: var(--font-size-small);
}

.label {
    border-radius: var(--form-control-border-radius);
}

.label.small-font {
    font-size: var(--font-size-small);
}

.label.large-font {
    font-size: var(--font-size-large);
}

.label.flashing {
    animation: label-flashing-animation 1s ease-in-out;
    animation-fill-mode: both; 
    animation-iteration-count: infinite;
}

@keyframes label-flashing-animation {
    0% {  }
    50% { 
        background-color: var(--flash-background-color);
        color: var(--flash-text-color)
    }
    100% {  }
}

.panel {
    background-color: var(--panel-background-color);
    border-style: solid;
    border-width: 1px;
    border-radius: var(--form-control-border-radius);
    border-color: var(--panel-border-color);
}

.panel-title {
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--separator-color);
    color: var(--title-color);
}

.bar {
    background-color: var(--form-control-background-color);
}

.bar .bar-separator {
    background-color: var(--separator-color);
}

.bar .bar-separator.bar-separator-top {
    box-shadow: 0px -2px 3px var(--shadow-color);
}

.bar .bar-separator.bar-separator-bottom {
    box-shadow: 0px 2px 3px var(--shadow-color);
}