.calendar-button-container .calendar-button {
    width: 30px;
    height: 30px;
}

.calendar-button-container .calendar-button.enabled {
    cursor: pointer;
}

.calendar-button-container .calendar-button .grid-icon {
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    margin: 2px;
}

.calendar-container {
    position: absolute;
    visibility: hidden;
    top: -2000px;
}

.calendar-container.visible {
    visibility: visible;
}