<div
    id="{{ this.id }}"
    class="calendar-button-container"
>
    <!-- Calendar button -->
    <div
        id="{{ this.getCalendarButtonId() }}"
        class="calendar-button"
        (click)="this.onCalendarButtonClick()"
    >
        <!-- Grid icon -->
         <table cellspacing="3" cellpadding="0" class="grid-icon">
            <tr><td> </td><td> </td><td> </td></tr>
            <tr><td> </td><td> </td><td> </td></tr>
            <tr><td> </td><td> </td><td> </td></tr>
         </table>
    </div>

    <!-- Calendar container -->
     <div
        id="{{this.getCalendarButtonContainerId()}}"
        [class]="{ 
            'calendar-container': true,
            'visible': this.isVisible()
        }"
     >
        <app-calendar
            [minYear]="this.minYear()"
            [maxYear]="this.maxYear()"
            [isMondayFirstWeekDay]="this.isMondayFirstWeekDay()"
            [value]="this.currentValue"
            (valueChange)="this.onCalendarValueChange($event)"
            (calendarClicked)="this.onCalendarClicked()"
        ></app-calendar>
    </div>
</div>

